[2014-12-06 15:00] ArturDorochowicz opened #2 "Document that build agent user needs read access to C:\WindowsAzure\Config"
The plugin on the agent attempts to read some data from `c:\WindowsAzure\Config` at startup. The ACL on this directory only allows System and Administrators access. If the agent runs on a user account, the access is denied and the agent fails to register in TeamCity server. Manually giving read access to the build agent user on the aforementioned directory, resolves the issue and agent successfull

[2014-12-09 09:15] #2 closed, assigned to nobody

[2015-02-23 13:14] bblanchon opened #3 "Support FreeBSD agent"
I'm trying to run a FreeBSD agent, based on [this image from VM Depot](https://vmdepot.msopentech.com/Vhd/Show?vhdId=49971&version=51112).

Unfortunately, I encounter the following error:

    ds.azure.AzurePropertiesReader - Azure integration is disablled: unsupported OS family amd64(10.1-release)

See [AzurePropertiesReader.java, line 74](https://github.com/JetBrains/teamcity-azure-plugin/blob/d

[2015-03-02 12:10] paksv commented on #3
Link to actual issue: https://youtrack.jetbrains.com/issue/TW-40248

[2015-03-02 12:10] #3 closed

[2015-05-19 15:33] ilivewithian opened #5 "Unable to Set Self Port"
When a new windows build agent instance is created and booted I consistently see the error message

    WARN - ds.azure.AzurePropertiesReader - Unable to set self port. Azure integration will experience problems

I have looked in the latest xml file in `C:\WindowsAzure\Config` and I can see the correct port details are in place. If I remote desktop onto the machine and manually restart the service

[2015-05-19 20:33] ilivewithian commented on #5
I've made two changes to the image and the cloud agents now register with the build server reliably.

  1. The provisioning user is now different to the user which runs the agent.
  2. The build agent service is now set to `Automatic (Delayed Start)`

[2015-05-19 20:33] #5 closed

[2015-06-15 21:33] erichexter opened #6 "My Azure Cloud configuration is now throwing the following error when loading the page."
Unable to fetch options: org.apache.http.conn.HttpHostConnectException: Connect to management.core.windows.net:443 [management.core.windows.net/23.102.135.246] failed: Connection timed out: connect

![image](https://cloud.githubusercontent.com/assets/114692/8171287/6152ef72-137c-11e5-81fe-62a2e199d319.png)

[2015-06-16 23:51] gregbty opened #7 "Unable to auto start images"
When there are builds in the queue the system never tries to auto a cloud image. I am forced to start a VM myself via the Cloud page. I did notice that the VM image started by the image lists the correct agent requirements while the image does not. I can provide screenshots if needed.

[2015-07-02 13:44] sshiman opened #8 "Start/Stop functionality for existing Azure VM doesn't work"
Start/Stop functionality - doesn't work with currently existing Virtual Machine Instance.

After TC starts the instance before the build and stops after a build on idle timeout (I set the value of "1") - then it would not start any subsequent build anymore again!?.

My setup for TC on Windows 8.1 (TeamCity Professional 9.0.4 (build 32407)) is -> 2 "in-house" agents + 1 Azure agent.
I have 2 pools

[2015-07-02 17:11] sshiman opened #9 "Azure image-based cloud agent complains about incompatibility of image(machine)"
I have created an image out of Azure machine and trying to use it as a source for TC azure plugin. I do see the incompatibility message on Pools tab for Agents settings when assigning agents to pools (where I do have separate pool created for Azure) and assigned that pool to one project.

If I do create a VM from this image on Azure - then I do not have any problem with running TC build against it

[2015-07-03 08:34] nkot opened #10 "Is it possible to use this plugin with Windows Azure Pack (private cloud)?"
Just wondering if it is possible to use the plugin with Windows Azure Pack (private cloud)?

[2015-07-03 09:05] mkuzmin commented on #10
We didn't test it yet. Please try, and we will happy to help you, if you meet any issues.

[2015-07-21 11:34] paksv commented on #9
When you configure a new cloud image in cloud profile, TC starts one instance of this image and calculates the compatibility (i.e. what builds can be run on agent that will come to server after the instance is started).

It looks like the cloud image you are using doesn't have Node.js and powershell installed - this is what TC server complains on.

[2015-07-21 11:36] paksv commented on #6
Please ensure that the TC server can establish connection to management.core.windows.net:443

[2015-07-21 11:37] paksv commented on #8
duplicate of #9

[2015-07-21 11:37] #8 closed

[2015-07-21 11:37] paksv commented on #7
duplicate of #9

[2015-07-21 11:37] #7 closed

[2015-07-21 19:18] sshiman commented on #9
This is not correct. as I said already if I'm using the same image to create standalone VM myself then everything is up and running. The problem is when the same image is in use by plugin. Why?

[2015-07-22 12:04] paksv commented on #9
Can you please attach screenshots and teamcity-server.log and teamcity-clouds.log? If you feel this is not secure, you can create an issue at https://youtrack.jetbrains.com (which allows secure attachments) and we can continue there.

[2015-09-23 18:55] erichexter opened #11 "Plugin cannot see Virtual Machines made with the Azure Resource Manager Templates."
I made an ARM template for our Team City Build Agents. the plugin cannot see those virtual machines in the Profile Configuration page.  This is identical to with the fact that the old Azure portal cannot see t that VM as well, it is only visible with the Resource Management APIs.

[2015-09-23 20:10] erichexter commented on #11
It appears that you would need to use the additional resource manager apis to find virtual machines created as well as manage them.

https://github.com/Azure/azure-sdk-for-java/tree/master/resource-management

[2015-09-24 13:22] paksv commented on #11
Opened ticket in our tracker: https://youtrack.jetbrains.com/issue/TW-42562

[2015-09-24 16:00] erichexter commented on #11
Thanks, I started a chain with Microsoft on an Azure Insiders list.  I think the fact that there are two sets of APIs is unacceptable from a vendors point of view.  I am going to rework, our agent creation script to use the original service management apis, instead of the resource manager apis.  Feel free to close this issue, since you have it tracked else where.

[2015-09-25 22:15] wblair commented on #9
I encounter the same problem where even a job that is a one line PS command "echo helloWorld" is not compatible with an Azure "image" agent and IS compatible with an Azure "machine" agent that is created from the same image.

I submitted issue https://youtrack.jetbrains.com/issue/TW-42591 with the attachments requested above.

[2015-10-01 17:07] shalupov opened #12 "Azure plugin requires agent to be run under local administrator to read properties from C:\WindowsAzure"
It's better to lift this restriction, I want to run agent under ordinary user

[2015-10-01 17:17] shalupov opened #13 "Azure plugin depends on Amazon EC2 plugin"
Azure plugin required cloud-shared.jar which is packaged to Amazon EC2 plugin

[2015-10-09 05:02] dlwyatt opened #15 "Should be able to set max instances for an entire cloud profile, rather than per-image"
This would provide parity with the EC2 plugin, where we can use any number of AMIs, but set the max instances (in any combination) for the profile.

[2015-10-11 18:09] erichexter opened #16 "API for adding a VM to the plugin."
Is there a way to add a machine to the plug through the rest api?

[2015-10-17 11:00] paksv commented on #16
nope, currently, you can only do this via UI

[2015-10-19 17:30] konste opened #17 "Agent manually started in Azure should not modify agent properties"
When Agent is run on Azure VM it always sets azure.instance.name and ultimately presents it to server as Agent name, even when Server is not configured to use Cloud Agents and the agent is manually configured to use different name through **buildAgent.properties**, like this:

name=AZSC-TCBUILD-1
system.agent.name=AZSC-TCBUILD-1
teamcity.agent.name=AZSC-TCBUILD-1

All of the above is ignored and a

[2015-10-20 12:01] #16 closed

[2015-10-20 13:24] paksv commented on #13
moved cloud-shared.jar to agent/lib

[2015-10-20 13:24] #13 closed

[2015-10-20 13:50] #6 closed

[2015-10-22 13:50] dlwyatt opened #18 "Allow cloud agents to be assigned to a particular Azure virtual network"
Right now, they are created in such a way that communication with the TeamCity server takes place over the public internet.  Because agents don't support HTTPS (and JetBrains has stated that the solution for this is to place the agents / server on private networks, or to enable VPN), this makes the Azure plug-in pretty useless in its current state, if encrypted agent traffic is desired.

[2015-10-23 12:00] dlwyatt commented on #18
Looks like this was addressed in some recent commits, judging from the messages.  I'll check out the code, and close this issue if it's all set now.

[2015-10-23 12:01] dlwyatt commented on #15
It's probably very ugly (since I'm a virtual newbie to JavaScript), but I've got this working in my fork over at https://github.com/dlwyatt/teamcity-azure-plugin/tree/ProfileLevelMaxInstances .  I'll be using this fork of the plugin for our build server, and if you'd like, I can send the code back this way via a pull request.

[2015-10-23 15:44] paksv commented on #18
Yeah, https://github.com/JetBrains/teamcity-azure-plugin/pull/14 was addressing the issue

[2015-10-26 10:45] paksv commented on #15
We are actually considering having this option in the cloud core. Probably in the scope of Teamcity 10.0

[2015-11-08 20:08] dkarzon opened #19 "InvalidXmlRequest: The request body's XML was invalid or not correctly specified."
I have recently updated my Teamcity instance to v9.1.3 (build 37176) and the azure plugin to v0.2.7 and the plugin has stopped working with the below exception happening when attempting to start or stop one of my VMs.

[code]

[2015-11-17 04:29] Aaronontheweb commented on #17
Any update on this? Dealing with this issue too.

[2015-11-17 17:42] paksv commented on #17
removing azure cloud plugin will help, if you are not using Cloud agents. If you do - please wait for a fix this week.

[2015-11-18 12:39] #18 closed

[2015-11-18 15:19] paksv commented on #17
fixed in 0.2.63.

[2015-11-18 15:19] #17 closed

[2015-11-18 15:21] paksv commented on #19
There's no version 0.2.7. Can you please clarify what is your plugin version?

[2015-11-18 23:02] dkarzon commented on #19
Strange, that's what it says in my TeamCity.
![image](https://cloud.githubusercontent.com/assets/214449/11257260/51b0f2a8-8eb5-11e5-80bb-873edde79d8e.png)

Though I'm pretty sure it was `v0.2.63` downloaded from your teamcity instance.

[2015-11-19 15:51] paksv commented on #19
can you please try to update the plugin to 0.2.63?

[2015-11-19 15:56] paksv commented on #19
Does the problem occurs, when you open the cloud profile? Does it populate values properly?

[2015-11-19 21:47] dkarzon commented on #19
Yep it's able to seem my VMs in Azure just that error happens when attempting to start/stop them.

[2015-11-20 15:03] paksv commented on #19
Did you create this VM in the new portal version (Virtual machines tab)? Current plugin version is incompatible with Azure Resource Manager Templates (#11)

[2015-11-20 20:04] sdurandeu commented on #19
This is also happening on 0.2.62, when the plugin tries to stop the VM.

[2015-11-20 20:59] dkarzon commented on #19
No this was an old VM created a while ago. I think an older version of the plugin was working with it before (`v0.2.55` I believe)

[2015-11-24 16:32] paksv commented on #19
The bug arrived along with Azure SDK v0.8.0. I fixed the issue by updating to 0.9.0.

Please check if #0.2.67 helps at https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_Build

[2015-11-24 16:32] #19 closed

[2015-11-25 05:21] dkarzon commented on #19
@paksv Just updated and can confirm this is fixed! Thanks for the quick response :+1:

[2015-11-26 20:25] sdurandeu opened #20 "Mismatch between the agent name and the virtual machine name"
I'm using the 0.2.67 version of the plugin, with the fresh clone behavior (using an VM image). For creating the image, I've removed the build agent `name` from the  `buildAgent.properties` file.  However, when the plugin creates the image it sets the name to the 'ip_XX.112.138.140-1' value, and does not use the prefix defined in the plugin settings (e.g `MYBLD-##`). The problem is that I cannot ma

[2015-11-26 20:50] paksv commented on #20
It looks like agent part of plugin is not able to determine whether it was launched by TC or not. Are you using generalized (sysprep-prepared) image?

[2015-11-26 20:53] sdurandeu commented on #20
I don't run sysprep myself. I just capture the image and do not check the "I have run Sysprep on the virtual machine" box when creating the image.

[2015-11-26 21:03] paksv commented on #20
Please try to check this checkbox (and also prepare the image with sysprep). Actually, without doing this, plugin is unable to reliably determine whether the instance was launched by TC in Azure or not.

[2016-01-14 09:55] bblanchon commented on #20
I'm having the same issue with sysprep'd VMs.
All my agents are named "localhost-XXX", completely ignoring the prefix.
This used to work fine with version 0.2.58.

[2016-01-20 04:54] jinhong- opened #21 "Any plans to support the new Azure Resource Manager mode?"
Azure is now moving to the ARM instead of the classic mode. Is there any plans to move to ARM or create a version that support ARM?

[2016-01-21 16:03] dtretyakov commented on #21
It is a duplicate for issue #11, we have an issue [TW-42562](https://youtrack.jetbrains.com/issue/TW-42562) in the tracker.
ARM will be available in the further plugin versions.

[2016-01-22 01:12] #21 closed

[2016-01-22 12:00] paksv commented on #20
@bblanchon please attach teamcity-agent.log from such VM

[2016-02-03 09:27] okesare commented on #11
Any update on ARM support in the plugin?

[2016-03-06 20:06] ArturDorochowicz commented on #11
I too hope to see this released soon.

An interesting aspect of the Azure plugin is that it does two things. One is to start and stop existing VMs and the other is to create and destroy VMs from images (I haven't used this one).

In the ARM world the first is probably pretty much the same, just start and stop a VM. The other - well,  one could imagine that TeamCity would be able to deploy VMs (and

[2016-04-22 09:40] dtretyakov commented on #11
Azure Resource Manager plugin for TeamCity is available for [download](https://github.com/JetBrains/teamcity-azure-plugin#installation).

[2016-04-22 09:40] #11 closed

[2016-05-17 17:32] Aaronontheweb commented on #20
@paksv I only have this issue when I **have** sysprepped the VMs. Everything works fine otherwise.

[2016-06-04 01:52] jamestalmage opened #23 "Windows Agents launched simultaneously have conflicting ports."
I am noticing an issue when launching multiple cloud agents, here is what I experience:

1. A build trigger happens, and 4 builds are added to the Queue
2. I have my instance limit set to `2`, so two instances are launched.
3. Both instances boot with `endpoint` ports set to `9090` (I can see this on the Azure portal, and in the agent information screen).
4. One eventually experiences a "communica

[2016-06-16 11:17] gambrose opened #24 "Account for startup time when deciding to start another agent."
Starting a machine on Azure can be slow, about 5 mins.
If an agent is already running then it is quite possible that it will finish its current build and start building the queued build before the new agent has come online. Which means that the new agent comes online it has nothing to do and was started unnecessarily.

[2016-06-19 19:52] jamestalmage opened #25 "Sometimes cloud launched agents show as Unauthorized"
It's intermittent, but the plugin seems to sometimes fail to authorize a client after launch.

<img width="1184" alt="screenshot 2016-06-19 15 47 29" src="https://cloud.githubusercontent.com/assets/4082216/16179486/52825bf4-3635-11e6-85e2-86c786c57aaa.png">

Is there a log I can look at and maybe see why this is happening? Is this a known issue?

I'm using classic mode. Would switching to Resource

[2016-06-20 16:19] dtretyakov commented on #25
@jamestalmage, could you please provide `teamcity-clouds.log` file to investingate such failures. Consider to create issue in the [youtrack](https://youtrack.jetbrains.com/issues/TW) to provide secure attachments.

Currently Resource Manager is a preferred way to deploy resources, so you can try to use it by following guidelines in the [blog post](https://blog.jetbrains.com/teamcity/2016/04/teamci

[2016-06-23 09:15] dtretyakov commented on #25
@jamestalmage, could you also share what is the TeamCity build agent startup type and type of account (user / SYSTEM) in your vm images?

[2016-06-23 10:58] dtretyakov commented on #24
@gambrose, thank you for reporting.

It is a common case for all cloud integrations which is reported in the TeamCity tracker: https://youtrack.jetbrains.com/issue/TW-41545

You can vote for it and monitor changes.

[2016-06-23 10:58] #24 closed

[2016-07-07 18:50] westongm opened #26 "TC Unable to Retrieve Azure Subscriptions"
We installed the ARM plugin to a TC instance on a private server behind a corporate firewall and are unable to retrieve the Azure Subscription with our Client/Tenant ID.  We were successful with using the plugin on a TC instance running in Azure using the same Client/Tenant ID and secret key.  The error has been logged in the winservice.log as follows (console time stamps removed):

[Info] [2016-0

[2016-07-12 00:15] dtretyakov commented on #26
@westongm, thanks for reporting this issue.
You can download [latest version](https://github.com/JetBrains/teamcity-azure-plugin#installation) of Resource Manager plugin where it was fixed.

[2016-07-12 12:02] dtretyakov commented on #23
@jamestalmage, thanks for reporting this issue.
You can download latest plugin build where it was fixed:
https://github.com/JetBrains/teamcity-azure-plugin#installation

[2016-07-12 12:02] #23 closed

[2016-07-12 12:02] #26 closed

[2016-07-12 16:49] westongm commented on #26
@dtretyakov

Thanks. We were able to get through the proxy.  Do you know of a way to hide the credentials so they do not appear on the "Diagnostics" screen of the UI?

[2016-07-13 09:47] dtretyakov commented on #26
@westongm,

You can use roles and permissions to restrict access to the administrator pages. Regular users could not access it.

[2016-07-26 09:46] robend opened #27 "Failed to initialize cloud client 'azure' on TC10"
No images were found due to a error.

Profile Error `Failed to initialize cloud client 'azure'.jetbrains.buildServer.clouds.azure.AzureCloudImage.getAgentPoolId()Ljava/lang/Integer; `
The stacktrace:
`java.lang.AbstractMethodError: jetbrains.buildServer.clouds.azure.AzureCloudImage.getAgentPoolId()Ljava/lang/Integer;
at jetbrains.buildServer.clouds.server.impl.CloudManagerBaseImpl.createNewClient(

[2016-07-26 11:28] robend commented on #27
Downloaded new plugin and it works.

[2016-07-26 11:28] #27 closed

[2016-08-01 10:49] PashaPash opened #28 "Plugin settings page fails to fetch options"
- Installed azure-classic plugin
- Created new cloud profile
- Entered subscription id and management certificate

Fetching options... indicator appeared, changed to red

The following error is logged to teamcity-winservice.log on each page refresh:

[code]

[2016-08-01 11:27] PashaPash commented on #28
Apparently, that was caused by a classic cloud service hosted in the same subscription.

Classic (package-based) cloud services have no ```<OSVirtualHardDisk>``` element in ```<HostedService>```, so plugin fails to enumerate Images / VMs if at least one package-based could service exists in subsciption

[2016-08-01 12:23] #28 closed

[2016-08-01 14:28] PashaPash opened #30 "Azure Classic, Start-Stop Mode - Agent connects as "unauthorized""
Cloud agent connects as "Unauthorized" if started by azure service.

- Created a VM in Azure (Classic Mode)
- Installed build agent on it (configured as local admin account)
- Shut down the VM
- Created a new cloud profle, added an existing VM

Teamcity successfully started the VM, Agent went to "upgrading" state, then to "unauthorized".
![image](https://cloud.githubusercontent.com/assets/1866711/

[2016-08-01 15:27] dtretyakov commented on #30
@PashaPash, thanks for reporting, we'll check this case.

[2016-08-01 16:40] PashaPash commented on #30
@dtretyakov I also noticed that cloud instance is now marked with exclamation mark / "No agents connected after instance start" and it remains in that state even if agent is manually started/connected/authorized.

It seems that TeamCity just cannot match the cloud instance with the connected agent. Please let me know if you will need any additional info to reproduce the issue.

[2016-08-01 18:18] PashaPash commented on #30
@dtretyakov it seems that I found a workaround - server-side plugin expects the `azure.instance.name` parameter set on agent side.

For image-based instances that parameter is passed as a part of a CloudData and mixed in to the agent properties by `AgentConfigReader`.
For pre-configured VMs that parameter remains blank (because of no provisioning/no CloudData availble), and server-side plugin fail

[2016-08-02 12:11] PashaPash opened #31 "Azure Classic, Start-Stop Mode - Agent stops immediately after start"
Current idle timeout handling makes Start-Stop Mode completely unusable.

Idle timeout is measured from last build time, or from agent creation/registration time, if there are no builds in history.

- Created a new cloud profile, added a agent VM to it. Set up an idle timeout to 30.
- Started a new agent.
- Agent was shutdown in 30 minutes as expected

Then I added a build in a queue.

1. TeamCity

[2016-08-03 15:16] dtretyakov commented on #30
@PashaPash, you can try to download latest azure classic plugin version, where automatic authorization was fixed: https://github.com/JetBrains/teamcity-azure-plugin#classic

[2016-08-03 17:01] dtretyakov opened #32 "Trim whitespaces in the cloud profile"
Currently user can copy token or password with whitespaces which can be trimmed at the plugin side.

[2016-08-03 17:04] dtretyakov opened #33 "Show "Grant Contributor role for your subscription" when no subscriptions are available"
It can improve UX for a first start

[2016-08-03 17:05] #30 closed

[2016-08-03 20:02] PashaPash commented on #30
@dtretyakov installed a new version, agent authorization works correctly now. Thanks for a quick fix!

[2016-08-03 21:01] dtretyakov opened #34 "Reuse allocated vms in clone behaviour"
We can improve startup time of builds if allocated vms would not be deleted after reaching idle timeout.
As result new builds can run faster on such vms because we just need to start deallocated vms.

[2016-08-04 14:20] PashaPash commented on #31
@dtretyakov that seems to be a bug in TeamCity code. Should I post it to youtrack?

[2016-08-04 17:02] westongm opened #35 "Reuse Cloud Agent Suffixes"
We need the plugin to reuse cloud agent suffix numbers to avoid issues with Active Directory domain constraints.  Currently, all of our cloud agents are joined to our AD domain but are not removed when the agents are deleted.  There is an upper bound on the number of agents our accounts can concurrently have added to the domain.  This resulted in our cloud agents failing to join our network when b

[2016-08-05 07:21] dtretyakov commented on #31
@PashaPash, thanks, we have the issue [TW-46547](https://youtrack.jetbrains.com/issue/TW-46547).

[2016-08-05 11:43] dtretyakov commented on #31
@PashaPash, it was fixed. You can download latest classic plugin build:
https://github.com/JetBrains/teamcity-azure-plugin#classic

[2016-08-05 11:43] #31 closed

[2016-08-05 13:40] PashaPash commented on #31
@dtretyakov downloaded a new build, agent starts correctly now. Thanks for a quick fix!

[2016-08-12 20:51] Aaronontheweb opened #36 "Deploy agents to specific Azure Resource Manager Resource Group"
It'd be really helpful if we could just deploy to a specific Resource Group so we don't have to provide the TeamCity AD application with contributor access to the entire subscription. Is that on the roadmap for a future release?

[2016-08-31 12:59] SaphuA opened #37 "[Feature] Start/stop with resource manager"
As management certificates are deprecated would love to be able to do starting/stopping with the resource manager plugin.

[2016-08-31 14:10] erichexter commented on #37
👍

--
Eric Hexter

blog | http://Hex.LosTechies.com
info | http://www.linkedin.com/in/erichexter

[2016-09-06 09:03] matt-richardson opened #38 "Show nicer error message when deployment fails"
I just had an issue where I ran into an out of cores error, but the only information in the log was:

[code]

Unfortunately, the inner errors are not displayed, so you cant tell what the problem is.

Only after finding the template on github, pasting it into the azure portal and guessing at the parameters was I able to see the actual error.

In the logs, it would be useful to:
a) show the actual t

[2016-09-08 04:08] matt-richardson opened #40 "When deployment fails, Resource Group is not cleaned up"
If a deployment fails for some reason (say, if you are out of cores in the subscription), the Resource Group is not cleaned up.

It should clean it up.

[2016-09-08 04:10] matt-richardson opened #41 "When modifying image details, values (sometimes) reset to first in list"
Sometimes, when you load the main cloud profile page, then hit `edit` on an agent image, it resets the `Virtual Machine Size`, `Virtual Network` and `Sub Network` to the first in the list.

This has caught me out several times over.

[2016-09-08 04:11] matt-richardson commented on #41
TeamCity Enterprise 10.0 (build 42002)

[2016-09-08 07:53] #38 closed

[2016-09-08 07:54] dtretyakov commented on #38
@matt-richardson, thanks for your contribution.

[2016-09-08 23:39] matt-richardson commented on #38
Thanks for merging so quickly, @dtretyakov!

One thing I noted, it's showing my contribution in TeamCity as somebody else?

![image](https://cloud.githubusercontent.com/assets/373389/18370541/2c77ae10-7671-11e6-92c4-5870265f87e0.png)

[2016-09-09 00:08] matt-richardson opened #42 "When 'create public IP address' is enabled, 'name prefix' must be lowercase"
As `vmName` is [used for the domain label](https://github.com/JetBrains/teamcity-azure-plugin/blob/master/plugin-azure-server-arm/src/main/resources/templates/vm-template-pip.json#L98), it must be lowercase. Having an upper case/mixed case name results in an error:

[code]

[2016-09-09 10:12] dtretyakov commented on #38
@matt-richardson, yeah, teamcity tried to match your username in commit and found some other `%matt%` profile created at teamcity.jetbrains.com

[2016-09-19 10:41] danielstocker opened #43 "TeamCity server causing “TooManyRequests” when interacting with Azure RDFE API"
Dear TeamCity team,
[azure-cloud-log.txt](https://github.com/JetBrains/teamcity-azure-plugin/files/479760/azure-cloud-log.txt)

I am a support engineer in the Azure IaaS platform team and am investigating the following issue with a customer of ours.

**Infrastructure setup**

The customer is running a TeamCity server with the Azure plugin on an Azure Windows machine. Since last week they have been

[2016-09-19 10:42] danielstocker commented on #43
Attached file https://github.com/JetBrains/teamcity-azure-plugin/files/479760/azure-cloud-log.txt

[2016-10-06 23:33] matt-richardson opened #44 "`Failed to create deployment in resource group XXXXX: Async operation failed`"
Agents are failing to be created due to `Async operation failed`. Would be nice to handle this situation better, or at least log information about what the actual problem is and how I can fix it.

[code]

[2016-10-13 14:59] gambrose commented on #37
This is a blocker for us moving from the classic Azure plugin.

[2016-10-13 16:34] erichexter commented on #37
ping @dtretyakov

[2016-10-14 12:13] dtretyakov commented on #37
@erichexter, we consider implementing it in the next plugin version.

Could you please share details about your use case: why you prefer `start/stop` behaviour instead of `clone`?

If it's a start time consideration we have an idea to reuse created machines in the clone behavior, so you will have a chance to create a pool of stopped/deallocated vms which are ready to start same way as in the start

[2016-10-14 13:12] gambrose commented on #37
@dtretyakov yeah, startup time is a consideration but also we already have tools/knowledge around creating Azure vms.
I would like to keep the flexibility that ARM templates give me, instead of having to rely on the plugins opinion on how a vm should be configured.
We find that disk io a limiting factor in build times so we would like the flexibly to setup the build machines to use premium storage

[2016-10-19 10:25] dtretyakov commented on #9
Closing since [TW-42591](https://youtrack.jetbrains.com/issue/TW-42591) has been resolved.

[2016-10-19 10:25] #9 closed

[2016-10-19 10:33] dtretyakov opened #45 "Allow to use custom ARM template to start machines"
Currently ARM plugin generates ARM templates internally and provides a limited set of customizations.
We can provide advanced mode for customers who needs to use their own custom ARM JSON templates.

[2016-10-28 08:26] SaphuA commented on #37
@dtretyakov Yes that is exactly the reason. Creating a new VM takes magnitudes longer than starting one.

[2016-11-03 20:38] aaron-0 opened #46 "Set idle timeout per Cloud Image"
I am using the classic version of the plugin to sleep and wake my agents.

It would be useful if there was a feature to be able to tell an agent not to sleep for say 4h.

I often find myself disabling the agent cloud plugin so I can do maintenance on an Agent without it being shut down.

[2016-11-10 16:19] pbiasotti commented on #44
We are experiencing the same issue. Is there any ETA for this fix?

[2016-11-16 12:10] dtretyakov commented on #44
@matt-richardson, @pbiasotti, could you please try to update to the latest ARM plugin version and try to start new cloud build agent again?
https://plugins.jetbrains.com/plugin/9260?pr=teamcity

[2016-11-16 12:16] #42 closed

[2016-11-16 12:23] #40 closed

[2016-11-16 16:49] #34 closed

[2016-11-16 17:02] #41 closed

[2016-11-16 17:22] dtretyakov commented on #37
@SaphuA, recent change in issue https://github.com/JetBrains/teamcity-azure-plugin/issues/34 brings ability to reuse created virtual machines. While terminating it just moves vm into Stopped/Deallocated state and on demand starts it again.

Please try to [download updated plugin](https://plugins.jetbrains.com/plugin/9260?pr=teamcity) from the gallery and enable `Reuse allocated virtual machines` f

[2016-11-16 17:23] dtretyakov commented on #35
@westongm, recent change in issue https://github.com/JetBrains/teamcity-azure-plugin/issues/34 brings ability to reuse created virtual machines and it should help in your case.

Please try to [download updated plugin](https://plugins.jetbrains.com/plugin/9260?pr=teamcity) from the gallery and enable `Reuse allocated virtual machines` for your images.

[2016-11-16 17:23] pbiasotti commented on #44
@dtretyakov We downloaded and tested the new version and worked fine. Thanks for your help!

[2016-11-16 17:28] dtretyakov commented on #46
@aaron-0, increasing `Terminate instance idle time` does not help in your case?

![image](https://cloud.githubusercontent.com/assets/1025927/20357962/11404b3e-ac3b-11e6-8ec9-b144730ea7d3.png)

[2016-11-16 17:29] dtretyakov commented on #44
@pbiasotti, great, that now it works fine.

[2016-11-16 17:29] #44 closed

[2016-11-16 20:42] aaron-0 commented on #46
You are right I'm probably better using that value so at least if I forget to change it back all the agents don't keep running till I realise. I guess I was more after something that could be applied to a single agent

[2016-11-17 08:24] dtretyakov opened #48 "Recreate vms with reuse option on vhd image change"
On start request we should check that stopped vm based on same source vhd image and recreate it if necessary.

[2016-12-16 17:03] chlsmith commented on #37
I'd love to see start/stop instead of a full clone.  I need my machines to have static public IP addresses, and the current cloning doesn't allow me to link an existing public IP to a machine.   Not to mention the time to get things built.

[2017-01-09 09:11] mrahl commented on #37
For us the reason to use start/stop is that we can keep the workspace to make the checkouts faster. The Azure VPN speeds suck (we have Gbit speeds to/from Internet in general, but we've tried two different Azure regions close to us without even getting 20 Mbit/s throughput through VPN) so clean checkouts adds several minutes to build times.

We have many builds for many repos so the chance that th

[2017-01-09 15:33] dtretyakov commented on #37
@chlsmith, @mrahl, great thanks for explanation. It's a high priority feature request.

[2017-01-10 06:17] mrahl commented on #37
@dtretyakov thank you, but after commenting I also saw your comment about issue #34 and tried the updated plugin and it seems to solve our problem well already!

[2017-02-19 12:20] trzombie commented on #45
I'm very interested in this. Any news?

[2017-02-20 09:55] dtretyakov commented on #45
@trzombie, we're still evaluating this feature request. Could you please specify what kind of resources you need to deploy via ARM template?

[2017-02-20 22:17] trzombie commented on #45
Examples could be size of disk, additional data disk(s), forced shutdown time etc. In general I would like to have the possibility of using a full custom template, also because this can be stored in source control, versioned etc.

Thanks

[2017-02-22 11:03] SaphuA opened #50 "Add support for managed disks / snapshots"
With the new managed disks feature Azure no longer stores vhd files into blob storage. It would be great if the TeamCity Azure Plugin supported this.

The way I see this workflow:
1. Create a new VM with a manged disk
2. Install the VM and run sysprep
3. Create a snapshot of the VM
4. The TeamCity Azure Plugin creates new VM's based on the snapshot

Here's a powershell script I found that shows ho

[2017-02-22 13:09] trzombie commented on #50
+1 to that.

[2017-03-20 13:08] ruipelo opened #51 "Check for illegal characters in the agent name prefix"
In azure the Windows computer name cannot be more than 15 characters long, be entirely numeric, or contain the following characters: ` ~ ! @ # $ % ^ & * ( ) = + _ [ ] { } \ | ; : . ' " , < > / ?.

The plugin should check that these criteria are met before accepting the input from the user. Otherwise the user has to go to the azure activity logs to find the reason.

[2017-03-28 13:13] dtretyakov commented on #51
Azure naming rules and restrictions: https://docs.microsoft.com/en-us/azure/architecture/best-practices/naming-conventions#naming-rules-and-restrictions

[2017-03-28 13:36] dtretyakov commented on #51
Fix will be available in the next plugin build.

[2017-03-28 13:36] #51 closed

[2017-03-28 15:00] #32 closed

[2017-03-28 15:05] dtretyakov commented on #20
This issue was fixed in the plugin versions 0.4+

[2017-03-28 15:05] #20 closed

[2017-03-28 15:06] dtretyakov commented on #25
This issue was fixed in the plugin versions 0.4+

[2017-03-28 15:06] #25 closed

[2017-03-30 08:32] eakukin commented on #37
@dtretyakov "Reuse allocated virtual machines" works fine if delay between stopping agent and starting it quite small 1-4 hours. In our case, they stopped in the evening, and in the morning (delay 6-8 hours, for weekends up to 48hours), plugin creating new agents instead of starting old one. This behavior is not useful, new agents has new ip addresses, without needed permission, and build failing.

[2017-03-31 08:00] dtretyakov commented on #37
@eakukin, it looks like a bug.

Could you please report it in the [TeamCity tracker](https://youtrack.jetbrains.com/issues/TW) and securely attach [`teamcity-clouds.log` file](https://confluence.jetbrains.com/display/TCDL/TeamCity+Server+Logs#TeamCityServerLogs-GeneralLoggingDescription)?

[2017-03-31 09:45] SaphuA commented on #50
It seems it is now also possible to Capture (new?) VM's right in the Azure Portal. This creates a new resource of type 'Microsoft.Compute/images/' that can be used to create new VM's from. Might be interesting to be able to use these as the basis for new VM's.

[2017-03-31 14:46] #48 closed

[2017-03-31 14:48] dtretyakov commented on #35
@westongm, it was fixed in the [ARM plugin](https://plugins.jetbrains.com/plugin/9260-azure-resource-manager-cloud-support) version 0.5.1.

[2017-03-31 14:48] #35 closed

[2017-03-31 14:50] dtretyakov commented on #50
@SaphuA, thanks for sharing, we'll try to support it and improve UX for cloud image creation.

[2017-05-10 12:52] SaphuA opened #52 "Agent idle time not reset after shutdown"
Note that I'm not sure if this is a plugin or TeamCity issue.

We were having weird issues with our agents where TeamCity would start/stop them randomly and way too often. After investigating teamcity-clouds.log we think the issue is that the idle time is not reset after shutting down an agent, causing a cycle of shutting the agent down immediately after starting it.

Here's the log for a single a

[2017-05-10 17:15] dtretyakov commented on #52
@SaphuA, thanks for reporting. Could you please share TeamCity and Azure ARM plugin versions, idle timeout and terminate conditions in your cloud profile if they are available.

[2017-05-11 07:22] SaphuA commented on #52
@dtretyakov Sure!

TeamCity version: TeamCity 2017.1.1 (build 46654)
ARM Plugin version: 0.5.2
Idle timeout: 30 minutes
Terminate conditions: none

[2017-05-11 08:02] SaphuA commented on #52
Okay so because the issue above isn't workable at all we changed our idle time to _empty_ and enabled the _terminate condition after the first build_.

We now have the exact same issue of an endless loop where TC starts a VM and immediatly shuts it down after booting. Except this time because the agent reports it has done a build.
`[2017-05-11 07:49:42,692]   INFO [uled executor 5] - l.instances.S

[2017-05-16 21:31] heynickc opened #53 "Auto-authorization issues with Azure RM Plugin"
Hello,

I'm having an issue with build agents created with the Azure RM plugin not authorizing themselves when they are started.  I've imaged our cloud agent now 7 times to no avail.  Here's what I'm seeing in the `teamcity-server.log`:

[code]
and here's what I'm seeing in the `teamcity-clouds.log`:
[code]
I'm running the agent service under SYSTEM.  I made sure that Administrators and SYSTEM had

[2017-05-17 08:31] SaphuA commented on #52
@dtretyakov Any updates? Should I contact TeamCity support instead? This is a major issue for us since we now have to manually start/stop VM's.

[2017-05-17 11:49] dtretyakov commented on #53
@heynickc, could you please ensure that you have specified ["Automatic (Delayed start)"](https://github.com/JetBrains/teamcity-azure-plugin#virtual-machines-preparation) option for TeamCity build agent service, because when agent starts under SYSTEM azure provisioner could not update configuration in time before TeamCity build agent start.

We will try to fix this case by watching for modification

[2017-05-17 11:51] dtretyakov commented on #52
@SaphuA, sorry for delay, currently investigating it, will share result soon.

[2017-05-17 12:12] heynickc commented on #53
Hi @dtretyakov thanks, yes that was actually one of the more recent changes I made to our .vhd image.  It did resolve a separate issue where we were seeing 2 build agents in the UI with the same IP address, however it didn't resolve the auto-authorization issue.  Thanks for your help.

[2017-05-17 15:33] dtretyakov commented on #52
@SaphuA, it seems that I figured out what may happens.

Do you use VHD images with TeamCity Build Agent 10.0.x to start build agents? If so it may take a lot of time to upgrade build agent and plugins to TeamCity 2017.1.1 version. Then when agent after upgrade connects to the TeamCity server it shuts down due to idle timeout. When TeamCity detects outdated cloud build agent image it displays excla

[2017-05-17 16:05] dtretyakov commented on #52
@SaphuA, also I've added reset for start date for new instances, could you please try to use [following plugin build](https://teamcity.jetbrains.com/viewLog.html?buildId=1070440&buildTypeId=TeamcityAzurePlugin_BuildResourceManager&tab=artifacts) to check if it solves the problem?

[2017-05-18 08:01] SaphuA commented on #52
Hi @dtretyakov , we actually already had these issues before updating TeamCity and hoped updating might resolve them. So while it's true that the agent is running on an older version, I'm pretty sure it is not the cause for our issues.

Also the logs seem to indicate some kind of resetting issue and not a startup issue.

Updating the agent image is on our todo list anyway so I'll report back _if_

[2017-05-18 13:50] dtretyakov commented on #52
@SaphuA, you are right, later I realized that the agent upgrade is not the cause, it just delays first start.
Did you tried to use last plugin build to check whether it addresses this problem?

[2017-05-24 12:04] SaphuA commented on #52
I just wanted to try your version of the plugin, but when I try to change settings for the cloud profile I get an alert box with the exception below.

Could this have to do with the updated azure java sdk?

[code]

[2017-05-26 08:57] SaphuA commented on #52
It seems to be working, but if you don't mind I'll leave the ticket open for another week just to be sure.

Thanks @dtretyakov

[2017-06-01 10:29] SaphuA commented on #52
It seems to be resolved, thanks @dtretyakov

[2017-06-01 10:29] #52 closed

[2017-06-19 19:26] heynickc commented on #53
Hi @dtretyakov has there been any progress or reports that have potential workarounds to use for this?  Thanks.

[2017-06-20 09:55] dtretyakov commented on #53
@heynickc, it's planned in the next bug fix release, I'll update this issue when it will be resolved.

[2017-06-26 13:03] heynickc commented on #53
For what it's worth, we downgraded the plugin to version 0.3.45 and auto-authorization worked again.

[2017-07-28 20:00] catalystjs opened #54 "`Failed to create deployment in resource group XXXXX: Async operation failed`"
This issue is now present again in TeamCity 2017.1.3. I updated to the latest snapshot, but I am still getting the same error. Is this something that is currently known?

`
[2017-07-28 12:55:50,809]   WARN [onPool-worker-1] - ouds.azure.arm.AzureCloudImage - Failed to create deployment in resource group prtnrblda-1: Async operation failed with provisioning state: Failed
Async operation failed with

[2017-08-02 11:17] dtretyakov commented on #50
There is a [preview plugin builds](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_BuildResourceManager) with Managed Images support. To create a new image you need to capture image from VM.

[2017-08-02 12:40] dtretyakov commented on #54
@catalystjs, thanks for reporting. Could you please update to the [latest plugin build](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_BuildResourceManager) where was fixed root cause logging of Azure deployment errors?

[2017-08-02 14:34] dtretyakov opened #55 "Use Azure Instance Metadata service to get a VM details"
Currently it relies on configuration files located on the system drive which causes requirement to have admin permissions #12

Instead of that we could send the HTTP request to the instance metadata service:
https://azure.microsoft.com/en-us/blog/announcing-general-availability-of-azure-instance-metadata-service/

[2017-08-03 06:54] BtDevOpsTeam commented on #50
Did the following
- uploaded the [plugin](https://teamcity.jetbrains.com/viewLog.html?buildId=1131803&tab=buildResultsDiv&buildTypeId=TeamcityAzurePlugin_BuildResourceManager)
- restarted TeamCity Server Service
- Actions "Edit" does not work
- "Add Image" is disabled (grey-ed out)

[2017-08-03 08:20] dtretyakov commented on #50
@BtDevOpsTeam, thanks for reporting, could you please open the developer console in the browser and share the errors after reloading page?

[2017-08-03 08:27] dtretyakov opened #56 "Error while starting instance due to lack of storage container"
While starting instance with empty storage account it fails with a following error:
[code]

[2017-08-03 08:34] BtDevOpsTeam commented on #50
Thanks for the prompt reply

The most prominent error looks like _ReferenceError: imageType is not defined_

Is this what you are looking for?

[2017-08-03 08:39] dtretyakov commented on #50
@BtDevOpsTeam, yes, thanks, will fix it soon.

[2017-08-03 08:51] #56 closed

[2017-08-03 10:12] dtretyakov commented on #50
@BtDevOpsTeam, it was fixed in build #87, please check that it works correct.

[2017-08-03 15:26] btdevopsteam commented on #50
Thank you for the prompt fix!

Both "Edit" and "Add Image" works

[2017-08-03 15:45] btdevopsteam opened #57 "Consolidate clones for each image in to one resource group per Image"
@dtretyakov

Thank you for the upgrade and fix in #50

We are wondering if it would be possible to create the clones for a particular image within one resource group rather than scattering them across prefix-1, prefix-2, etc

[2017-08-04 11:10] #55 closed

[2017-08-04 11:13] dtretyakov commented on #53
@heynickc, now the agent side of ARM plugin relies on Instance Metadata service, so could you please check whether problem with authorization was fixed in it?

[Latest snapshot builds](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_BuildResourceManager&branch_TeamcityAzurePlugin=%3Cdefault%3E&guest=1)

[2017-08-04 15:03] jacksobt commented on #36
This would also be immensely helpful for the cloud CI system that we are setting up as well. Having to navigate it as it stands currently with our IT department is incredibly difficult.

[2017-08-04 15:33] dtretyakov commented on #36
The actual problem when we'll try to implement this feature is a cleanup and concurrent VMs start. ARM deployer does not provide a reliable way to delete deployed resources in the group. Separate resource group per VM does not have such problems since when we're removing it will be destroyed all deployed resources within it.

So while implementing it we need to solve these drawbacks of ARM deploye

[2017-08-04 15:42] jacksobt commented on #45
In addition to trzombie's examples above my team would also use this for post-generation configuration tasks (such as joining the domain and updating time zones). Actually, with the use of the ARM template, we would likely use that to deploy the entire VM from a custom image and perform all post-generation configuration tasks.

[2017-08-08 14:24] dtretyakov commented on #12
Now ARM uses Instance Metadata Service (#55) to receive configuration details and it does not more try to access `C:\WindowsAzure` directory.

[2017-08-08 14:24] #12 closed

[2017-08-08 19:29] konste commented on #36
We desperately wait for this feature to be implemented. Ability to keep all TC cloud agents within particular Resource Group would make it much more manageable.

I don't quite understand "reliable way to delete deployed resources in the group". What is it exactly you are missing? Currently each agent group contains VM and network interface. All those VMs and matching network interfaces may be plac

[2017-08-08 21:38] #33 closed

[2017-08-08 22:22] dtretyakov commented on #36
[Latest plugin build](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_BuildResourceManager&branch_TeamcityAzurePlugin=%3Cdefault%3E&guest=1) supports deploying to specific resource group. Please let me know if it fits your needs.

[2017-08-09 10:36] dtretyakov opened #58 "Add selector for Azure environment"
Currently Azure cloud has multiple environments:
* Azure
* Azure China
* Azure Germany
* Azure US Government

[2017-08-09 14:54] #58 closed

[2017-08-09 16:16] jacksobt opened #59 "Allow PowerShell scripts to be run using provisioning credentials after VM creation"
It would very helpful if the ability was added to run PowerShell scripts after VM creation using the credentials from the provisioning of the VM for post-configuration tasks.

[2017-08-10 06:34] btdevopsteam commented on #36
The latest plugin build works like a charm

Thanks!

[2017-08-10 15:03] jacksobt commented on #36
Working great for us as well. Thank you!

[2017-08-11 02:15] btdevopsteam opened #60 "Allow resource tagging"
@dtretyakov

Thank you for your enhancement in #36

Another great enhancement would be to allow resources to be automatically tagged when they are being spawned

[2017-08-11 02:19] konste commented on #60
@dtretyakov
What my colleague is trying to say here is that it would be great if cloud profile would allow for the tagging (with arbitrary tags) all resources it dynamically instantiates. Really helpful for costs attribution.
Thank you for your support!

[2017-08-11 05:50] btdevopsteam opened #61 "unchecked "Reuse allocated virtual machines" does not delete VMs"
Good day

Enhancement #36 works well and consolidate resources into a Resource Group

We notice that when "Reuse allocated virtual machines" is unchecked, the plugin simple "forgets" about it in TeamCity and does not really stop the VM nor delete it

[2017-08-11 11:13] dtretyakov commented on #61
@btdevopsteam, thanks for reporting. I tried to fix the possible cause in the latest plugin build. Could you please try updating plugin, then go to Administration -> Diagnostics -> Troubleshooting page and enable `debug-cloud`  logging preset. Then start a new build agent and stop them. After that enable `default` logging preset and check whether VM and associated resources has been properly delet

[2017-08-11 17:43] konste commented on #61
I'm lost - where shall we download the very latest version of the plugin?

[2017-08-11 20:33] dtretyakov commented on #61
@konste, [here it](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_BuildResourceManager&branch_TeamcityAzurePlugin=%3Cdefault%3E&guest=1).

[2017-08-16 16:35] dtretyakov commented on #45
In the [latest plugin builds](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_BuildResourceManager&branch_TeamcityAzurePlugin=%3Cdefault%3E&guest=1) you could specify custom ARM template to start virtual machines. Please let me know if you need any additional features related to that mode.

[2017-08-18 09:32] dtretyakov commented on #61
@btdevopsteam, @konste, please let me know whether it was solved in the latest plugin builds?

[2017-08-18 09:35] dtretyakov commented on #60
@btdevopsteam, @konste, could you try to use [Custom ARM Templates](https://github.com/JetBrains/teamcity-azure-plugin/issues/45) to tag required resources while deployment?

Do you need to specify tag key/value pairs per cloud image?

[2017-08-18 11:20] konste commented on #60
@dtretyakov we probably could, but it looks like a major overkill for the purpose. All we really need is a way to specify a few key=value strings (comma separated would do) per Cloud Profile.

[2017-08-18 12:11] btdevopsteam commented on #61
Thank you for working on this and sorry for the non-reply

Just installed **SNAPSHOT-20170816163918** and restarted TeamCity service, the behavior is as before updating
- stop a machine
- the machine disappears from TeamCity
- checked portal.azure.com, that VM is still running
- after a while that machine reappears on the TeamCity

Is there any steps we need to take after updating the plugin?
Is t

[2017-08-18 12:21] btdevopsteam commented on #60
@dtretyakov

Would you be referring to build 102 which installs **SNAPSHOT-20170816163918**?

Here are the options we are seeing when adding a new image, where should we find **Custom ARM Templates**?
![image](https://user-images.githubusercontent.com/30698023/29458631-a9da337e-8452-11e7-8435-e44164cadcad.png)

[2017-08-18 12:43] dtretyakov commented on #60
@konste, ok, will consider adding custom tags option.

@btdevopsteam, you should select Image Type as `Template`:
![image](https://user-images.githubusercontent.com/1025927/29459358-87a2b3dc-8423-11e7-8cf9-21dc035639be.png)

[2017-08-18 12:46] dtretyakov commented on #61
@btdevopsteam, interesting could not reproduce it on my side, so I need logs to investigate the cause.

Please follow the instructions in https://github.com/JetBrains/teamcity-azure-plugin/issues/61#issuecomment-321786042 and attach logs into new issue in TeamCity tracker.

[2017-08-18 13:09] btdevopsteam commented on #60
Noted with thanks, let us give it a try and update you early next week

[2017-08-18 13:24] btdevopsteam commented on #61
Thanks @dtretyakov

[TW-51243](https://youtrack.jetbrains.com/issue/TW-51243)

[2017-08-18 14:37] dtretyakov commented on #61
@btdevopsteam, got it. It seems that you have missing deployments metadata for image `azbuild19-` in the group `multiple`. Could not realize who did it, so could you please open Audit log for this group and try to find `Delete Deployments` event for deployment with name `azbuild19-5`? Whether it was TeamCity app and when it happens?

When used build agents deployment into specific resource group t

[2017-08-18 15:20] btdevopsteam commented on #61
Made a new Image and retry

Logs uploaded to youtrack, let's continue the discussion on youtrack for the moment

[2017-08-18 15:38] dtretyakov commented on #61
@btdevopsteam, oh, thanks, it should be fixed in the [snapshot build 103+](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_BuildResourceManager&branch_TeamcityAzurePlugin=%3Cdefault%3E&guest=1&tab=buildTypeStatusDiv). Please let me know if it properly works.

[2017-08-18 23:47] btdevopsteam commented on #61
Thanks!

VMs (network interfaces and OS disks) are now being deleted

[2017-08-18 23:47] #61 closed

[2017-08-20 12:56] dtretyakov commented on #45
It also allows to specify custom script extension for [Linux](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/extensions-customscript) and [Windows](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/extensions-customscript) machines to execute preparation on machine start.

[2017-08-20 21:37] dtretyakov commented on #50
Support of Managed Disk Snapshots would not be introduced any soon since Snapshot is a specialized image and we could not use it to set custom data with agent configuration details while creating new vm.

[2017-08-21 12:49] dtretyakov commented on #59
@jacksobt, you could leverage custom template and define custom script extensions as mentioned here:
https://github.com/JetBrains/teamcity-azure-plugin/issues/45#issuecomment-323583428

[2017-08-21 12:54] dtretyakov commented on #54
@catalystjs, if it still fails to create vm in the latest plugin build, please report the updated entry from the `teamcity-clouds.log` file, where was improved root cause logging.

[2017-08-21 16:16] jacksobt commented on #59
Perfect! Thank you, @dtretyakov!

[2017-08-28 01:33] btdevopsteam opened #62 "Plugin should not spawn VMs when all VM are "Scheduled to stop""
We noticed a behavior where
- if we limit to e.g. 3 VM
- when all 3 VM are "scheduled to stop"
- if demands picks up (of if we click "start")

The plugin would deploy a 4th VM

It would be nice if the plugin would wait for those that are "scheduled to stop" to completely stop and start them instead of deploying extra VMs beyond the limit set (in this example 3)

Thanks!

[2017-08-28 09:31] dtretyakov commented on #62
@btdevopsteam, it's a common for all cloud integrations in TeamCity and I suspect that not everyone could agree to wait until all build agents will be stopped which could cause delays for queued builds.
So could you please report it in the [TeamCity issue tracker](https://youtrack.jetbrains.com/newIssue?project=TW&clearDraft=true&c=Type+Feature&c=Assignee+spak&c=Subsystem+Cloud+support) and we'll

[2017-08-28 09:45] btdevopsteam commented on #62
Please allow me to give a better example
- 5 agents max
- 5 running
- 1 was idling and the plugin tries to stop it so it ends up as "scheduled to stop", this is expected and perfectly fine
- at this time the build queue grows and the plugin then deploys a 6th VM :'(

IMHO, if we wait for that VM to stop then start it, we could avoid getting a newly deployed VM when existing VMs are "scheduled to s

[2017-08-28 13:47] dtretyakov commented on #62
@btdevopsteam, ok, thanks for clarification. You could try to update to the [latest plugin build](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_BuildResourceManager&branch_TeamcityAzurePlugin=%3Cdefault%3E&guest=1) where it was fixed.

[2017-08-28 17:14] catalystjs opened #63 "Template deployment parameters"
I know this is a new feature in the code, but I was hoping to get a better sense of how to supply the params  when using the template option for provisioning versus an image. Is there any limited documentation available on how to get this done?

[2017-08-29 02:27] btdevopsteam commented on #62
Thanks! It works "Scheduled to stop" is considered as active and would not allow additional agents to be spawned

[2017-08-29 02:27] #62 closed

[2017-08-29 13:38] dtretyakov commented on #63
@catalystjs, currently template deployment mode does not support parameters, so you could use variables section in ARM template for that. When TeamCity will support [project parameters for cloud profiles](https://youtrack.jetbrains.com/issue/TW-51157) we could be able to use them in template field.

Currently you could set default template value by clicking on the icon on the right of template fie

[2017-08-29 18:57] LongerP opened #64 "Some virtual machines are stopped but not deallocated"
We are using TC completely in azure. We have one VM as leader without agent.
We are using Auzer Resource Manager cloud type.
Terminate instance idle time 60
Max 10 VM from vhd image.
OS windows with reuse allocated virtual machines.
They are part of default pool.
All VMs are form same vhd image.
Plugin version 0.5.3

When there is no load and all cloud agents are displayed as stopped in TC. We sti

[2017-08-30 03:50] btdevopsteam opened #65 "long queue targeting a particular agent is causing the plugin to spawn more agents"
Good day

We notice this behavior
- queue multiple builds targeting a **particular agent**, e.g. queue 10 builds for agent-1
- the plugin would attempt to spin up 10 agents (or as many as the limit set)
- only agent-1 is building, agent-2, 3, 4, etc would be idling
- after the set idling time, e.g. 30 minutes, the plugin would stop agent-2, 3, 4, etc
- the queue length drops to for e.g. 8 for agen

[2017-08-30 16:46] dtretyakov commented on #64
Thanks for reporting, it could by caused by following: initially some of your cloud agents we're started with termination timeout of 30 mins, then timeout was increased to 60 mins, but it was not propagated to stopped machines. So we need to fix this case. As a workaround you could manually remove such machines, or disable "reuse allocated virtual machines" option untill all of your machines will

[2017-08-31 06:04] LongerP commented on #64
Thanks for your replay. Workaround works.
Regards,
Josef

[2017-09-06 12:27] nachtneblovaK opened #66 "Agents start is slow (takes 10 minutes)"
We are using TeamCity with your ARM plugin.
When plugin starts agent it takes almost 10 minutes to run agent. Just about 2-3 minutes takes starting VM, rest of the time agent seems to do nothing. But can't build (TC says "There are no fully-running agents").
I tried to dealocated VM in azure portal and start it again. And agent starts build immediately. The problem is just with stoping/starting VM

[2017-09-06 12:38] jacksobt commented on #66
We have also noticed this slowdown.

[2017-09-06 14:28] #45 closed

[2017-09-06 14:29] #64 closed

[2017-09-06 14:30] #54 closed

[2017-09-06 14:31] #53 closed

[2017-09-06 14:31] #50 closed

[2017-09-06 14:32] #36 closed

[2017-09-06 16:23] dtretyakov commented on #66
To investigate the cause could you please share the following:
1. From the azure portal: Navigate to the resource group > Deployments -> %agent_name% and share the time spend on the resources deployment
2. Attach the teamcity-agent.log file from the TeamCity: Navigate to the agents -> %agent_name% -> Logs

And attach them into the issue: https://youtrack.jetbrains.com/issue/TW-51449

In my case ag

[2017-09-09 13:14] btdevopsteam opened #67 ""Reuse allocated virtual machines" has no effect"
We notice the following behavior for 0.6.0, 0.6.1 and 0.6.2

Suppose we limit to **5** agents
- start 5 agents
- 5 agents appeared in pool
- stop 1 agent
- 1 agent scheduled to stop
- 1 agent stop
- everything is fine till this point

-------

Click start
- expected: the stopped agent is started
- observed: agent **6** is spawned

-------

We reverted to **SNAPSHOT-20170828134512** and the above i

[2017-09-11 12:33] btdevopsteam commented on #60
It works 👍

We are able to add custom tags to via template, thanks!

[2017-09-11 12:39] btdevopsteam commented on #60
Would be possible to have variable for the VM password? Otherwise we would have to put it in clear withing the template, which is somewhat insecure

Thanks!

[2017-09-12 12:13] dtretyakov commented on #60
@btdevopsteam, we could do that as part of issue "Template deployment parameters" #63 once TeamCity core will support [project parameters in cloud profiles](https://youtrack.jetbrains.com/issue/TW-51157).

[2017-09-12 12:23] btdevopsteam commented on #60
Sounds good

Thansk!

[2017-09-12 12:24] #60 closed

[2017-09-12 12:41] dtretyakov commented on #67
@btdevopsteam, could you please also report what kind of image (VHD, Image, Template) do you use for this cloud image?

[2017-09-12 12:45] btdevopsteam commented on #67
We are using Image

The abovementioned behavior is noticed after upgrading the plugin (no configuration changes where done)

[2017-09-13 11:12] benosman commented on #67
I have also encountered this issue with the versions listed above, and I too am using Image.

[2017-09-13 12:37] mscrivo commented on #67
Same issue here

[2017-09-13 16:35] dtretyakov commented on #67
Please try to use the latest snapshot build from the [plugin build page](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_BuildResourceManager&branch_TeamcityAzurePlugin=%3Cdefault%3E&guest=1&tab=buildTypeStatusDiv) and let me know if it fixes this problem.

[2017-09-13 17:46] mscrivo commented on #67
Thank you, I've installed it.  Will let you know how it goes.

[2017-09-13 20:17] mscrivo commented on #67
hmm, not sure it's working.  I had agent1-5 created and deallocated after idle builds (i have max instances set to 5), then at some point agent5 was deleted and it created agent6.

[2017-09-13 20:51] mscrivo commented on #67
Also seeing this error frequently

Hide stacktrace
jetbrains.buildServer.clouds.CloudException: Invalid status code 404jetbrains.buildServer.clouds.CloudException: Invalid status code 404
at jetbrains.buildServer.clouds.azure.arm.connector.AzureApiConnectorImpl$getInstanceDataAsync$1$1.doResume(AzureApiConnectorImpl.kt:205)
at kotlin.coroutines.experimental.jvm.internal.CoroutineImpl.resume(Corout

[2017-09-14 09:05] ruipelo opened #68 "Image change is not detected when an VM created from a VHD is updated and recaptured"
I recently updated my plugin and noticed the new feature from issue #48 and hoped that I would no longer need to manually delete my old VMs whenever I do updates. Unfortunately I noticed that this new feature doesn't work with the way I've been updating my agent VHD.

What I do when there is a need to change something on the agents is: RDP to an instance created from the VHD, do the changes and re

[2017-09-14 21:21] dtretyakov commented on #67
The latest [snapshot plugin build](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_BuildResourceManager&branch_TeamcityAzurePlugin=%3Cdefault%3E&guest=1&tab=buildTypeStatusDiv) fixes this problem.

@mscrivo, could you please describe where do you see "Invalid status code 404"? Is it a cloud instance error?

[2017-09-15 13:39] mscrivo commented on #67
@dtretyakov It was on the cloud tab of the agents page.  Not on a specific agent instance, but the whole cloud config.

[2017-09-16 21:33] dtretyakov opened #69 ""Invalid status code 404 error" for cloud image"
@mscrivo

[code]
Which results in no agents being started. It usually resolves itself after some time.

[2017-09-16 21:34] dtretyakov commented on #67
@mscrivo, thanks, move it into #69.

[2017-09-16 21:34] #67 closed

[2017-09-21 19:20] mscrivo commented on #66
We are seeing really slow startup times, even with re-using existing VMs.  The Azure classic plugin does not suffer this problem.  Is there anything we can provide to help diagnose this issue?  It's killing us.

[2017-09-21 20:20] mscrivo commented on #66
I've added the requested info/logs to the bug you mentioned.

[2017-09-29 03:09] btdevopsteam opened #70 "Unable to choose pool / editing other settings results in image going to <Project pool>"
We are using the latest **SNAPSHOT-20170918103035**

1/ Unable to choose pool

We noticed that sometimes, the **Agent Pool:** selection is empty, only >Project pool> is present

![image](https://user-images.githubusercontent.com/30698023/30999221-67da0ae2-a506-11e7-8742-7930ec1127e7.png)

2/ Editing other settings results in image going to <Project pool>

We also noticed that when we edit settings

[2017-09-29 15:01] dtretyakov commented on #70
@btdevopsteam, there was a bug with project pools selection. Previously it was possible to select any agent pool which [actually wouldn't work](https://confluence.jetbrains.com/display/TCDL/Agent+Cloud+Profile#AgentCloudProfile-AddingAgentImage).

For cloud images in TeamCity it is possible to use virtual project pool for current project `<Project pool>` or any project pool which has current proje

[2017-09-29 20:57] btdevopsteam commented on #70
Thanks!

We happen to be using new images and the issue appears to be absent in the new images :-)

[2017-09-29 20:57] #70 closed

[2017-10-03 13:43] gabrielstella opened #71 "Ignore Terminate instance idle time on start"
I set the "Terminate instance idle time" parameter on 15 minuts, in order to terminate the instance after 15 minuts from the last executed build.
But when the instance runs if the starting time on azure is bigger than the terminate idle time Teamcity stop the instance. After that, teamcity will start instance again and repeat all the process.

I set a bigger timeout and solve the problem, but this

[2017-10-04 08:08] dtretyakov commented on #71
@gabrielstella, thanks for reporting, will fix it.

[2017-10-12 20:56] adnangohar commented on #71
When can we expect a fix for this issue ?

[2017-10-12 21:03] adnangohar opened #72 "Is it possible to shutdown agent as soon as build is finished ?"
I would like to know if it is possible to shutdown an agent as soon as it finishes the build ? Moreover it is not evident what "After the first build" option under "Additional terminate conditions" does. What I have experienced when I enable it is, it just spawns the VM and instantly shuts it down. Would appreciate some more information about this.

[2017-10-20 14:15] gabrielstella commented on #71
Hi, there are any news about this issue?

[2017-10-23 09:42] tom-dudley commented on #45
@dtretyakov Great to see templates are now supported. Can you clarify whether you support deploying to a single resource group when using a template?

For example, if I have an ARM template with a VM resource with the name 'agent' and a NIC resource with name 'agent-nic' and I tell the plugin to spin up two agents in the same resource group, how are you avoiding clashes of resource names?

[2017-10-23 09:53] dtretyakov commented on #45
@tom-dudley, you could use `[parameters('vmName')]` parameter in your template to make and set ids for resources. It'll be filled by generated name on build agent start.

[2017-10-23 10:03] tom-dudley commented on #45
@dtretyakov Thanks, I'll give that a go. I assume the generated VM name is based off the 'Name prefix' field. The description of `Unique name prefix to create resource groups` is what threw me off slightly. It sounds as though its more `Unique name prefix of resources`

[2017-11-07 12:31] tom-dudley opened #73 "Diagnose build agents problems"
I'd like to able to diagnose an issue I'm having on one of my agents so have started it manually from the Azure portal. Unfortunately it immediately shuts down with the logs showing:
[code]

I'm assuming the plugin only resets the idle time when it itself starts a VM. I have a few proposals for this:

1. Notice when the VM is started externally, reset the idle time to zero as soon at the plugin no

[2017-11-07 13:45] tom-dudley opened #74 "Some agents aren't deallocated"
I have some agents which are shutting down, but not being deallocated.

This is a similar, if not the same, issue as #64 however the fix given there doesn't work in my case. We did originally have a different idle timeout to our current one, but the agents which are failing to deallocate where created _after_ the timeout was last changed.

Here is the relevant server log, where you can see that `t

[2017-11-15 17:57] austinlparker opened #75 "Azure RM agent not auto-authorized"
I've got a VHD image deploying through ARM. The build agent service is starting up, and is able to communicate with the server, but fails to automatically register. The only output I see in `teamcity-agent.log` is the following:

[code]

[2017-11-20 19:52] erick-thompson opened #76 "Support Resource Groups in ARM Template deployment"
When using this plugin based on an Azure VM Image, you are able to specify the Resource Group which will be used for the VM. However, the ARM Template based option does not allow you to specify a Resource Group.

Can we get Resource Groups  on the ARM Template deployment method as well?

[2017-11-20 21:36] #76 closed

[2017-11-20 21:36] erick-thompson commented on #76
It would seem I totally missed that part of the UI.

[2017-11-26 12:03] btdevopsteam opened #77 "Unable to resize to Standard_DS2_v3"
Good day

We are on **West US 2** region and it is possible to manually resize a VM previously created by the plugin to Standard_DS2_v**3** via portal.azure.com

However, it is not possible via the plugin (regardless if we are creating a new VMs or resizing existing VMs)

Please let us know if we can provide more details to aid the investigation

Thank you!

Here is the error,

`Failed to create d

[2017-11-26 12:56] konste commented on #77
This happens because this particular type of VMs is named Standard_D2s_v3 case sensitive. Corresponding string constant in the plugin need to be changed.

[2017-11-26 13:05] #77 closed

[2017-11-29 16:55] thinkbeforecoding opened #78 "No images were found"
After upgrading to 2017.2, the Agents/Cloud tab says:
`**You have 1 profile configured.**`
but also:
`No images were found`

The problem is that there is one ARM template image in the profile, that was working correctly until the upgrade.

I tried to reinstall TC 2017.2 from scratch, recreate the profile with the ARM template, and still nothing.

Is there an incompatibility of the last version of

[2017-11-29 17:06] dtretyakov commented on #78
@thinkbeforecoding thanks for reporting, please try [upgrading plugin to v0.6.4](https://plugins.jetbrains.com/plugin/9260-azure-resource-manager-cloud-support) where was fixed compatibility with TeamCity 2017.2 and let me know if it was fixed.

[2017-11-30 13:53] thinkbeforecoding commented on #78
The v0.6.4 fixed the 'No images were found problem', but i have another Issue that I'll report in a new ticket.

Thanks a lot.

[2017-11-30 13:59] dtretyakov commented on #78
@thinkbeforecoding, thanks.

[2017-11-30 13:59] #78 closed

[2017-11-30 13:59] thinkbeforecoding opened #79 "Failed to delete deployment"
When agents have been idle for enough time they should be deallocated, but the agent enters an Error state:
[code]
It seems it's trying to delete totally the deployment even if the 'Reuse allocated virtual machines' option is set.

TeamCity version: 2017A
Plugin Version: 0.6.4

[2017-11-30 14:03] thinkbeforecoding commented on #79
A more precise stackframe
[code]

[2017-11-30 14:49] dtretyakov commented on #79
@thinkbeforecoding, thanks for reporting. Could you please also specify what type of image you use: template, VHD or image?

[2017-11-30 15:18] thinkbeforecoding commented on #79
It's a template.
The template deployment was successfully  deployed.
I don't use agent push, the arm template use the arm CustomScript extension to install the agent after the machine is built. The agent is installed, started and authorized correctly.

[2017-11-30 15:56] thinkbeforecoding commented on #79
I installed the snapshot.
The error disappeared, and the agent have been deleted.
But is it expected when the 'Reuse allocated virtual machines ' box is checked ? Shouldn't they be only deallocated instead of deleted ?

[2017-11-30 16:18] thinkbeforecoding commented on #79
Another strange thing.
I put a limit of 5 for the image.
When 4 agents have been depolyed, the 'start' button is still enabled, but when I press it, it add a new 'build agent' line but no actual deployment is started. When I refresh the page, this fifth agent doesn't appear anymore.

[2017-11-30 16:34] dtretyakov commented on #79
@thinkbeforecoding, could you please share the `teamcity-clouds.log` [server log file](https://confluence.jetbrains.com/display/TCDL/TeamCity+Server+Logs) for investigation?
GitHub does not have secure attachments, so could you please file an issue in the [TeamCity tracker](https://youtrack.jetbrains.com/issues/TW) and attach it there?

[2017-11-30 16:43] thinkbeforecoding commented on #79
Ah.. looking at the teamcity-clouds.log I see that the 5th is not allocated because I reached the core limit on the subscription. My bad 😁

[2017-11-30 17:18] thinkbeforecoding commented on #79
But stopping the agent still delete the VM instead of just stopping them...

[2017-12-01 08:42] thinkbeforecoding commented on #79
The log says:
[code]
Which, in the code seems to indicate that `behaviour.isDeleteAfterStop` is true, which is only the case for
  `FRESH_CLONE(true, false)`.
but in `AzureCloudDetails.kt', `getBehaviour()` is implemented as:
[code]
So it seems that myReuseVM is false, even if the check box is checked.

Is there a name mismatch in parameters  for `const val REUSE_VM = "reuseVm"` ?

I cannot find o

[2017-12-01 09:06] thinkbeforecoding commented on #79
I found the parameter in the config and it is true...
[code]
So.... Don't know what is the source of the problem... 🤔

[2017-12-01 09:42] thinkbeforecoding commented on #79
I'll create a specific issue for this

[2017-12-01 09:56] thinkbeforecoding opened #80 "Arm agent 'Removed' even when reuseVM is checked"
The reuseVM checkbox is checked, and the parameter appears correctly as `true` in the xml config:
[code]

But the log still report:
[code]
And the virtual machine deployment is the deleted instead of just stopped.

This logs appears only on the following lines:
[code]
with
[code]
So the isDeleteAfterStop can be true only in the FRESH_CLONE case.
and
[code]

So the FRESH_CLONE is only returned when

[2017-12-01 15:11] dtretyakov commented on #79
@thinkbeforecoding, great thanks for investigation, will take a look at the issue #80.

[2017-12-01 15:11] #79 closed

[2017-12-01 17:03] dtretyakov commented on #80
@thinkbeforecoding, could you please try to download [the latest snapshot version](https://teamcity.jetbrains.com/repository/download/TeamcityAzurePlugin_BuildResourceManager/lastSuccessful/cloud-azure-arm.zip) of plugin to ensure that this problem was fixed?

[2017-12-01 17:18] thinkbeforecoding commented on #80
This is working 😄
thanks again !

[2017-12-01 18:55] dtretyakov commented on #80
@thinkbeforecoding, ok, thanks for confirmation. Could you please download the latest stable plugin build:
https://plugins.jetbrains.com/plugin/9260-azure-resource-manager-cloud-support

[2017-12-01 18:55] #80 closed

[2017-12-04 09:22] thinkbeforecoding commented on #75
Same problem here with windows agents.
On creation, agents are authorized automatically.
But once stopped, when restarting, they stay in Unauthorized state.

[2017-12-04 11:11] thinkbeforecoding commented on #75
In the logs I notices my agent had problems accessing files in the directory and then restarting the service..
I'm making more tests to check if it can be the cause of the problem

[2017-12-04 16:01] thinkbeforecoding commented on #75
It seems to be starting without error, but it is still not auto - authorized...

[2017-12-05 10:07] thinkbeforecoding commented on #75
In the log, when the agent is starting, I see this:
[code]
Is there anything specific to install manually on the agent ?

[2017-12-05 10:12] thinkbeforecoding commented on #75
That was before the update phase.. After restart, the azure arm plugin is available...

[2017-12-05 10:26] thinkbeforecoding commented on #75
Maybe better info,
On second start I have this in the log when plugin initiliazes
[code]

[code]

But on previous start the agent had more precise info for the agent name:
[code]

[2017-12-05 10:37] thinkbeforecoding commented on #75
The is something strange with the AzureData/CustomData.bin file..
First time, it seems to be not empty:
[code]
but on second start:
[code]

I think this is the cause of the prb..

[2017-12-05 10:54] thinkbeforecoding commented on #75
OK ! I finally got it ✌️
The AzureData folder was created with restricted access permissions.
Once the agent account is granted access to it, it works as expected !

[2017-12-05 11:03] dtretyakov commented on #75
@thinkbeforecoding, is it a case with custom ARM template deployment?

Quite interesting since at the first machine start it has permissions to read the `CustomData` file, but at all subsequent start it lack permissions.  Do you start TeamCity build agent at the first time with elevated permissions in Custom Script extension?

[2017-12-05 11:19] thinkbeforecoding commented on #75
Yes. And I install teamcity agent using a more restricted domain account.

[2017-12-05 11:23] thinkbeforecoding commented on #75
But the installation seems to be run with the calling account and not with the account specified to run the service, and the ACLs are not set.. I had to force ACLs on the BuildAgent directory.

[2017-12-05 14:46] mscrivo opened #81 "Agent upgrades each time it starts up from Image"
We've been having this issue for a while, where agents created from images go through the upgrade step everytime they are started up.  Even if I let an agent fully upgrade, then take a new image, and use that image, the next time it starts up, it will upgrade again.  This in addition to the time it takes Azure to start a VM is killing us.

We're using TC 2017.2 (50574) and 0.65 of the plugin.  We

[2017-12-06 11:25] grant-d-scribestar opened #82 "Continuously starting/stopping one cloud agent"
Hi, Sorry if this is not the right place for this - not sure if this is a bug or intended by design.  I have 5 classic azure VMs which are managed by the plugin, and it works great for spinning them just when there's a build.  However I noticed that between builds the plugin will still continue to start up one particular agent, then stop it, then start it again, and so on.... for no reason (i.e. n

[2017-12-06 13:34] dtretyakov commented on #75
@austinlparker, could you please check that user under which TeamCity build agent is running has permissions to access mentioned file with custom data file `/var/lib/waagent/ovf-env.xml`?

[2017-12-06 14:53] grant-d-scribestar commented on #75
This is a windows installation, and the service account running TeamCity
Server is added to the administrators group.

*From:* Dmitry Tretyakov [mailto:notifications@github.com]
*Sent:* 06 December 2017 13:34
*To:* JetBrains/teamcity-azure-plugin <
teamcity-azure-plugin@noreply.github.com>
*Cc:* Subscribed <subscribed@noreply.github.com>
*Subject:* Re: [JetBrains/teamcity-azure-plugin] Azure RM ag

[2017-12-06 16:21] dtretyakov commented on #75
In the [latest snapshot plugin build](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_BuildResourceManager&branch_TeamcityAzurePlugin=%3Cdefault%3E&tab=buildTypeStatusDiv) was improved logging of errors while reading azure configuration data.

[2017-12-06 16:28] dtretyakov commented on #74
@tom-dudley, I see that you are using the ARM plugin to start these machines, but in the agent log from vm `tcagent3` mentioned `IdleShutdown` which is not used in the latest plugin builds.

Could you please verify that you're using latest version of ARM plugin and check that you don't have installed Azure Classic plugin? You could do that on the Administration -> Plugins List page.

[2017-12-06 16:33] tom-dudley commented on #74
We have the following relevant plugins on our server:
- `Azure integration` 0.2.51
- `Azure Support: Resource Manager integration` SNAPSHOT-20170918103035

I assume the first plugin is the Classic plugin and we're find to remove it since we only use ARM (I guess they're in conflict with one another)

[2017-12-06 16:41] dtretyakov commented on #73
@tom-dudley, it's a quite complex task to store the state with a list of started cloud instances by cloud profile. Because we need to somehow store it and invalidate between TeamCity server restarts and cloud profile enabling/disabling events.

As a workaround you could temporary disable cloud profile to prevent azure integration control of this machine.

[2017-12-06 16:45] dtretyakov commented on #74
@tom-dudley, yes, `Azure integration` is old name of Azure Classic plugin and it affects build agents started by ARM plugin.

[2017-12-06 16:55] dtretyakov commented on #82
@grant-d-scribestar, could you please file an issue in TeamCity tracker and provide logs as mentioned here:
https://github.com/JetBrains/teamcity-azure-plugin/blob/master/README.md#problems-investigation

Also it would be great to know TeamCity and Azure plugin versions.

It'll allow to investigate the cause of that.

[2017-12-06 16:57] dtretyakov commented on #71
@gabrielstella, could you please also report the TeamCity server and Azure plugin versions?

[2017-12-06 17:18] #59 closed

[2017-12-06 17:22] gabrielstella commented on #71
@dtretyakov there are any news about this issue?

Azure Support: Resource Manager integration: 0.6.3
TeamCity 2017.1.5 (build 47175)

[2017-12-07 11:01] dtretyakov commented on #81
@mscrivo, thanks for reporting. Could you please also share the `teamcity-agent.log` file from this agent, since `upgrade.log` contains no details about the cause of this upgrade. You could file an issue in the [TeamCity tracker](https://github.com/JetBrains/teamcity-azure-plugin#feedback), where it's possible to attach logs privately.

[2017-12-07 14:30] mscrivo commented on #81
done: https://youtrack.jetbrains.com/issue/TW-52842

[2017-12-07 16:39] dtretyakov commented on #71
@gabrielstella, could you please download the [latest ARM plugin version](https://plugins.jetbrains.com/plugin/9260-azure-resource-manager-cloud-support), where it was resolved?

Please let me know if solves this problem.

[2017-12-07 16:47] dtretyakov commented on #72
@adnangohar, there was a problem in plugin. Could you please try to download the [latest ARM plugin version](https://plugins.jetbrains.com/plugin/9260-azure-resource-manager-cloud-support) and let me know if solves this problem.

[2017-12-07 16:48] dtretyakov commented on #66
In the [latest ARM plugin version](https://plugins.jetbrains.com/plugin/9260-azure-resource-manager-cloud-support) it was fixed. Please let me know if solves this problem.

[2017-12-07 17:57] mscrivo commented on #66
I've installed it, will let you know how it works

[2017-12-11 12:18] gabrielstella commented on #71
Hi @dtretyakov

I tryed the latest version and the problem continues.

`[2017-12-11 08:59:35,988]   INFO [5 Flush Queue 1] - .instances.StartInstanceAction - Starting cloud instance: profile 'Azure'{id=arm-1, projectId=_Root}, AzureCloudImage{myName='TCS'}, hash=, reason=Automatic start: Compatible with queued build Mobile :: Build(promotionId=377951)
[2017-12-11 08:59:35,989]   INFO [5 Flush Queu

[2017-12-11 18:02] mscrivo commented on #66
Seems to work better.  agents are no longer being torn down as often, so it's re-using the existing stuff more.  Thanks!

[2017-12-13 09:04] #66 closed

[2017-12-13 12:29] grant-d-scribestar commented on #82
Excellent, thanks.

I have raised - https://youtrack.jetbrains.com/issue/TW-52936

I noticed that the agent that keeps getting started and stopped via the
plugin, does not appear in the ‘Pools’ screen, whereas my other agents have
‘Azure cloud profile’ next to them in the list. If I remove the agent from
cloud integration then it shows up Pools list as normal.

*Grant Drage*

Infrastructure Engine

[2017-12-13 13:43] dtretyakov commented on #82
@grant-d-scribestar, thanks for details, will investigate it in TeamCity tracker.

[2017-12-13 13:43] #82 closed

[2017-12-15 19:34] mscrivo opened #83 "Ability to choose storage type"
## Description

When creating a VM from an image in Azure, you get the option to choose your storage type, either SSD or HDD:

![image](https://user-images.githubusercontent.com/275524/34057459-03c40068-e1a5-11e7-872e-7decb250c8c4.png)

However, in the plugin, there is no such choice and thus all VM's are created on really slow HDD storage.  It would be nice to have the option to select SSD as you

[2017-12-18 15:49] tom-dudley commented on #74
Thanks @dtretyakov , feel free to close this issue.

[2017-12-18 16:04] #74 closed

[2017-12-18 16:06] tom-dudley commented on #73
I've been having a think about this and I think the best way to obtain the 'owner' of the VM would be to get the log event of the last `Microsoft.Compute/virtualMachines/start/action` operation and then compare the `Claims.Content.appid` against the `Application ID` known by the plugin. If they match then the owner is Teamcity, if they don't then the owner is someone else.

I imagine something aki

[2017-12-18 16:12] tom-dudley commented on #73
As a further suggestion for solving this use case, I think having a "disable auto-shutdown" button per cloud agent would be suitable.

The workflow would then be:
- Notice a build failing on a specific agent which you want to investigate
- Disable the auto-shutdown
- Go and spend a couple of hours investigating on the agent
- Solve the problem
- Re-enable auto-shutdown

Optionally:
The "_other_" t

[2017-12-20 13:36] dtretyakov commented on #83
@mscrivo, you could try to use the [latest snapshot plugin build](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_BuildResourceManager&branch_TeamcityAzurePlugin=%3Cdefault%3E&guest=1&tab=buildTypeStatusDiv) with ability to select disk type.

[2017-12-20 13:50] mscrivo commented on #83
Thanks @dtretyakov .. just tried it and the only option I have is HDD in the dropdown.  Anything else that needs to be setup?  in the portal I can choose SSD and was able to create one manually on SSD.

[2017-12-20 14:18] dtretyakov commented on #83
@mscrivo, yes you need to use the following [machine types:](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/premium-storage)

[2017-12-20 14:21] mscrivo commented on #83
yes, we're using DS2v3

[2017-12-20 14:22] mscrivo commented on #83
![image](https://user-images.githubusercontent.com/275524/34211516-52f74ce2-e567-11e7-9240-4e31eb3dd85c.png)

[2017-12-20 16:43] dtretyakov commented on #83
@mscrivo, thanks, the disk type filter was fixed, you could download the latest plugin version:
https://plugins.jetbrains.com/plugin/9260-azure-support-resource-manager-integration

[2017-12-20 16:43] #83 closed

[2017-12-20 18:02] mscrivo commented on #83
working perfectly, thank you!

[2017-12-20 21:19] #72 closed

[2017-12-20 21:30] #69 closed

[2017-12-21 09:13] dtretyakov commented on #68
@ruipelo, it should be fixed in the latest [snapshot plugin build](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_BuildResourceManager&branch_TeamcityAzurePlugin=<default>&tab=buildTypeStatusDiv&guest=1). Instead of MD5 hash now it relies on Etag value of VHD blob file.

[2017-12-29 16:22] dtretyakov commented on #37
In the [latest snapshot plugin build](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_BuildResourceManager&branch_TeamcityAzurePlugin=%3Cdefault%3E&guest=1) available "start/stop" mode. Please let me know if it completely covers your use cases.

![image](https://user-images.githubusercontent.com/1025927/34441549-b2e85d60-ecbc-11e7-9dc2-649351e6493d.png)

[2018-01-02 13:27] ruipelo commented on #68
@dtretyakov, I had a change to test the snapshot today and the Etag does really work with my use case. After updating the plugin all machines created with the previous version were deleted after pressing start on the cloud tab of the agents view. I then captured a new VHD and verified that the change was also detected in that case. Much thanks for the continued work on this great plugin!

[2018-01-11 18:13] mscrivo opened #84 "No images found in CanadaEast region"
## Description

We're trying to move our build agents from West US to Canada East and when doing that, the plugin tells us that we have no images in Canada East, even though we for sure do.

## Environment

* TeamCity version: 2017.2.1
* Azure plugin version: 0.67

I believe the issue is casing.  When listing our images using `az image list` the image in Canada East has a location 'CanadaEast' whe

[2018-01-11 18:16] mscrivo commented on #84
Seems like perhaps `getImagesAsync` is being passed 'canadaeast' and because the images actually have a location of 'CanadaEast', there are no matches.

[2018-01-11 20:37] dtretyakov commented on #84
@mscrivo, thanks for reporting. The fix is available in the [latest snapshot plugin build](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_BuildResourceManager&branch_TeamcityAzurePlugin=%3Cdefault%3E&guest=1).

[2018-01-11 20:49] mscrivo commented on #84
Thank you @dtretyakov

[2018-01-25 23:50] #84 closed

[2018-01-31 19:47] tfabris commented on #73
I am also having this issue.

Here are the steps I took, and which bit me this morning:

- I am having a problem with one particular agent according to Team City logs, and I want to investigate that particular agent.
- At the time I wanted to diagnose it, the agent had gone idle and has been shut down by the cloud plugin.
- I go into Team City administration page for the Cloud Agent plugin, and I

[2018-02-01 09:15] dtretyakov commented on #73
@tfabris, at the moment proper way to do that is following:
* disable azure cloud profile without agents termination
* temporary disable required build agent for investigation
* return settings back

After changing idle time setting Azure Cloud integration will recycle all build agents with different settings while agent start/stop procedure and it was the cause of this vm deletion.

[2018-02-01 23:37] tfabris commented on #73
@dtretyakov, thanks so much for that information!

If I disable the Azure cloud profile, though, doesn't that mean that no new cloud agents will get activated if the build/test load increases? Meaning that we will not get many/any new builds or tests launched while the debugging is happening on that one investigation machine? If that's true then this is a non-optimal way to handle this situation.

[2018-02-02 13:07] ladisone opened #86 "Run build no start Azure Image"
## Description

Dear support, I've installed Azure Resource Manager Cloud Support 0.6.7 for TeamCity. Plugin is configured and I can run Azure server with start button from Agents - Cloud. Image type is "Image". I'm not sure what is Provision Username for, could you please explain it in a detail?

The main problem is - when I start build, Azure server isn't started automatically and I've got corre

[2018-02-02 13:39] dtretyakov commented on #86
@ladisone, provision username is a username used to connect to virtual machine after cloud agent start mostly for [troubleshooting](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/troubleshoot-rdp-connection).

When you manually start build agent from the Agents -> Cloud page you should see the started build agent in the list for your cloud image. After cloud agent connection it sh

[2018-02-02 16:30] dtretyakov opened #87 "Add integration with Templates on Azure Portal"
Currently Azure Portal in preview mode allows to store templates:
![image](https://user-images.githubusercontent.com/1025927/35743707-a73a3f7c-083e-11e8-90cb-0393acd7bdfb.png)

[2018-02-02 16:35] dtretyakov commented on #46
Will be fixed as part of #73

[2018-02-02 16:35] #46 closed

[2018-02-02 16:37] dtretyakov commented on #37
This mode is available in Azure plugin 0.7.0

[2018-02-02 16:37] #37 closed

[2018-02-02 16:37] #68 closed

[2018-02-02 18:04] ladisone commented on #86
Thank you.
I found out I had in Cloud profile  -> Compatible configurations -> Incompatible runner: Command Line. What does it mean?

[2018-02-06 23:02] dtretyakov opened #88 "Support Container Instances"
We could use container instances to spin up cloud agents

[2018-02-07 12:51] ladisone commented on #86
We misunderstand. I'll push into the repository. And I would like the TC server to be a trigger that runs build and also boots VPS on Azure.

[2018-02-07 13:18] dtretyakov commented on #86
@ladisone, yes it does it, but you need to create a proper image which could be used in the Azure cloud agents plugin.

You could take any base image from Azure Marketplace, install TeamCity build agent and all required build tools on it. To ensure that it's compatible with your build configurations you need to specify in the `buildagent.properties` your TeamCity server URL and when it appear on t

[2018-02-09 15:08] ladisone commented on #86
Build on VPS works great. The problem is only with the automatic start of VPS on Azure. I attach printscreens.
![screenshot from 2018-02-09 15-55-29](https://user-images.githubusercontent.com/807379/36034177-7be4cd0e-0db3-11e8-8a79-b27be316f4bb.png)
![screenshot from 2018-02-09 15-01-28](https://user-images.githubusercontent.com/807379/36034178-7c0509d4-0db3-11e8-965f-6911bbb64616.png)
![screensho

[2018-02-09 15:16] dtretyakov commented on #86
@ladisone, thanks for details. It looks like a connectivity problem between TeamCity cloud build agent and TeamCity server.

To diagnose it could you please connect to this virtual machine via SSH (IP address could be found in the [Azure portal](https://portal.azure.com), username and password specified on the image settings in cloud profile), then try to ping your TeamCity server from it.

If it

[2018-02-09 20:53] ladisone commented on #86
But I will start the VPS on Azure manually using the teamcity server. When I press the "start" button - look at the attached picture, the VPS will start OK.

![screenshot from 2018-02-09 21-45-39](https://user-images.githubusercontent.com/807379/36049483-29521922-0de3-11e8-81c6-dcd4e2df86c3.png)

[2018-02-09 23:07] dtretyakov commented on #86
@ladisone, exactly, do the following:
1. Open you cloud profile -> edit image and enable `Create public IP address`
1. Press `Start` button on the Agents -> Cloud page
2. Open https://portal.azure.com/ , find your virtual machine and copy ip address for it
3. Connect to the copied IP via SSH and specify username / password from image settings
4. Type `ping your-teamcity-url` and share the result o

[2018-02-12 05:42] ladisone commented on #86
1. Why public IP address? - server teamcity and build server with teamcity agent are on the Azure in the same private network
5. ping to teamcity-url is ok
6. My build server wiht teamcity agent communicates with teamcity server. No problem

My problem is, that teamcity server no automatic start build server with teamcity agent on the Azure.

[2018-02-12 09:57] dtretyakov commented on #86
@ladisone, ok, if no connectivity issues between TeamCity server and build agent and build agent displays as Connected when you start it manually the problem that it has failed to connect to the image at the first run when TeamCity tried to start it and get configuration parameters to calculate compatible build configurations.

To solve it just change `Name Prefix` value for your image and save cl

[2018-02-12 16:12] ladisone commented on #86
@dtretyakov Yes, i changed the `Name Prefix` and save cloud profile. Then TeamCity started automatically VPS on cloud, but after successful connection look like:

![screenshot from 2018-02-12 16-53-03](https://user-images.githubusercontent.com/807379/36105623-5af076e8-1015-11e8-8f2b-91d498bac1aa.png)

![screenshot from 2018-02-12 16-55-09](https://user-images.githubusercontent.com/807379/36105679-

[2018-02-12 16:28] dtretyakov commented on #86
@ladisone, thanks for details, but normally this build agent must be authorized automatically, not manually.

Could you please share the `teamcity-agent.log` and `teamcity-clouds.log` files as [mentioned here](https://github.com/JetBrains/teamcity-azure-plugin#common-problems)?

[2018-02-12 16:42] ladisone commented on #86
teamcity-clouds.log:

`[2018-02-12 15:31:05,957]   INFO [nio-8111-exec-3] - .web.admin.UpdateProfileAction - Updating cloud profile: id=arm-2
[2018-02-12 15:31:05,965]   INFO [nio-8111-exec-3] - .server.impl.CloudEventsLogger - Profile reloaded: arm-2 and is enabled
[2018-02-12 15:31:06,677]   INFO [re'{id=arm-2} 1] - louds.base.AbstractCloudClient - Cloud profile 'profile 'Azure'{id=arm-2}' initi

[2018-02-12 16:52] dtretyakov commented on #86
@ladisone, the problem is that the user, under which you're running TeamCity agent build agent does not have permissions to read the `/var/lib/waagent/ovf-env.xml` file contents:

[code]

Details of this issue are written on the Readme: https://github.com/JetBrains/teamcity-azure-plugin#teamcity-starts-virtual-machine-but-agent-is-not-connected

Please grant to the user permissions to read this fi

[2018-02-12 19:56] ladisone commented on #86
@dtretyakov Thank you very much. You are best human. Because command `waagent -deprovision
` remove all file from dir `/var/lib/waagent` it is not good to set mode on the file  `/var/lib/waagent/ovf-env.xml`

When run teamcity agent non root user, you must set the sudoers:

`
teamcity ALL = NOPASSWD: /usr/bin/cat
Defaults:teamcity        !requiretty
`
because https://github.com/JetBrains/teamcity-

[2018-02-13 06:53] ladisone commented on #86
One more question. Must be in captured image in buildagent.properties file completed authorizationToken or can it be empty?

[2018-02-15 08:38] dtretyakov commented on #86
@ladisone, it's ok, you could leave this value. When cloud build agent starts this token as well as server url and agent name will be overriden automatically.

[2018-02-16 07:54] ladisone commented on #86
@dtretyakov Thank you very much, now everything is ok.

[2018-02-16 07:54] #86 closed

[2018-02-16 08:26] #81 closed

[2018-02-20 21:25] gambrose commented on #37
@dtretyakov I have only just had a chance to test this but it seems to be working well. 👍

I did notice an issue with the Name Prefix missing the first letter of the image name.
![image](https://user-images.githubusercontent.com/2676070/36449825-eae6c0b2-1683-11e8-83bb-cd70d3ce852f.png)

[2018-02-21 08:53] dtretyakov opened #89 "Agent name is cropped for start/stop instances"
@gambrose:

https://github.com/JetBrains/teamcity-azure-plugin/issues/37#issuecomment-367124946

[2018-02-21 08:53] dtretyakov commented on #37
@gambrose, thanks for reporting. Will fix it as apart of #89

[2018-02-22 10:58] dtretyakov opened #90 "Support MSI credentials"
By using this option it's possible to get credentials from the machine:
https://docs.microsoft.com/en-us/azure/active-directory/msi-tutorial-linux-vm-access-arm

[2018-03-02 11:00] dtretyakov commented on #88
We could use [file share](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-volume-azure-files) to provide custom data and make TeamCity build agent paths mounts to persist updated plugins and tools for quick subsequent starts.

[2018-03-14 10:25] dtretyakov opened #91 "Decrease check interval in agent side of plugin"
Current timeout value to access Azure Instance Metadata is high, so we could improve Azure environment check.

[2018-03-14 16:49] #91 closed

[2018-03-14 16:49] #88 closed

[2018-03-15 13:18] gambrose commented on #89
I just tested SNAPSHOT-20180314170906 to see if this issue was fixed for me.

After removing my misnamed VM I found now I cannot add any existing VMs as the save button is always disabled.
![image](https://user-images.githubusercontent.com/2676070/37465481-21ac53f6-2853-11e8-86e5-ce104dde6977.png)

[2018-03-15 17:07] dtretyakov commented on #89
@gambrose, thanks for reporting this problem. Validation rules were fixed in the [latest plugin build](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_BuildResourceManager&branch_TeamcityAzurePlugin=%3Cdefault%3E&guest=1&tab=buildTypeStatusDiv).

Please let me know if it helps.

[2018-03-15 22:55] #90 closed

[2018-03-16 09:21] gambrose commented on #89
Tested SNAPSHOT-20180315170817

The save button is still disabled for the majority of VMs. I did notice that a couple of VMs could be saved I'm not sure if that has changed since the last tested version or not.

[2018-03-16 13:14] dtretyakov commented on #89
@gambrose, thanks for verification, finally fixed validation rules for start/stop mode in the [latest plugin build](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamcityAzurePlugin_BuildResourceManager&branch_TeamcityAzurePlugin=%3Cdefault%3E&guest=1&tab=buildTypeStatusDiv).

[2018-03-16 13:51] gambrose commented on #89
Tested SNAPSHOT-20180316100346 and can confirm it is now working.

[2018-03-16 16:23] gambrose opened #92 "Automatic authorization of VM instances in Start/Stop mode"
## Description

I have added a ARM cloud agent using an existing VM image. But then the agent starts up and connects TeamCity does not link the new agent to the cloud instance.

![image](https://user-images.githubusercontent.com/2676070/37531716-d67cdf8a-2934-11e8-8bc9-3084458da8a3.png)

Alec is name of agent on server TeamcityAgent-006
James is name of agent on server TeamcityAgent-007

![image](

[2018-03-19 16:36] dtretyakov commented on #92
@gambrose, could you please inspect whether these virtual machines were actually connected to the TeamCity server? You could see it on the Agents -> Unauthorized or Disabled tabs.

Also it would be great to take a look at the `teamcity-agent.log` and `teamcity-clouds.log` files. Could you please file an issue in TeamCity tracker and securely attach the mentioned files?
https://github.com/JetBrains

[2018-03-20 09:31] gambrose commented on #92
The machines connect and are visible in the Unauthorized tab. I have since authorised them and they are connected and working just not associated with the cloud profile.

I think I have attached the files in a secure manner. https://youtrack.jetbrains.com/issue/TW-54213

[2018-03-20 09:40] dtretyakov commented on #92
@gambrose, thanks for details. Will try to find a proper fix for that.

As a workaround, please authorize these build agents manually.

[2018-03-20 09:54] gambrose commented on #92
Thanks @dtretyakov.
The authorisation isn't really the issue. It's more that the machines will be stopped after the inactivity timeout (30 mins) and will not be restarted. I think they are stopped even if they are in the middle of building.

[2018-03-20 10:09] dtretyakov commented on #92
@gambrose, ok, in this case workaround is following:

On each virtual machine please append the following line in the [buildagent.properties file](https://confluence.jetbrains.com/display/TCDL/Build+Agent+Configuration):
[code]

Then after build agent service restart authorization and problem with inactivity timeout should be solved.

[2018-03-20 11:34] gambrose commented on #92
Thanks @dtretyakov

I noticed that the classic azure cloud server is now not being authorised automatically.
I am just upgrading our version TeamCity server as we are on quite an old version 10.0.5 (build 42677). I will try that workaround when I have everything upgraded.

[2018-03-20 16:49] gambrose commented on #92
Setting the `azure.instance.name` in the buildagent.properties file worked as a workaround. The agents are correctly associated with their cloud instances.

[2018-03-28 17:36] #89 closed

[2018-03-29 14:11] dtretyakov opened #93 "Suggestion to add Azure cloud profile"
When TeamCity server is running on Azure VM and there're is no configured cloud profiles we could provide TeamCity project suggestion to add Azure cloud profile.

[2018-03-29 14:42] #93 closed

[2018-04-05 15:39] OwenGr opened #94 "VM starts, but TeamCity Agent software is not pushed"
## Description

We're using a custom Windows base image in our Azure resource group. When clicking 'start' next to the pool, the agent VM starts, but it never receives the agent software, and hence, never connects to the host. It eventually times out and is destroyed by TeamCity.

I've verified that both the host and the agent can talk to each other, that ports are unblocked, and that I can login

[2018-04-09 08:38] dtretyakov commented on #94
@OwenGr, thanks for reporting, this issue was originally files in the TeamCity issue tracker: https://youtrack.jetbrains.com/issue/TW-49902

Currently the plugin supports cloud images with pre-installed TeamCity build agent software. The reason is saving the time spent on TeamCity agent upgrade on each cloud instance start:
https://github.com/JetBrains/teamcity-azure-agent#virtual-machine-image-pr

[2018-04-09 15:21] dtretyakov opened #95 "VM name prefix suggestion incorrectly trims long names"
It's regression in 0.8.0

[2018-04-09 15:33] #95 closed

[2018-04-26 19:32] ivog opened #96 "ImageType: Docker Os: Win fails"
When trying to add an agent image of type docker to azure cloud profile with the following settings:

deployment: specific resource group
resourcegroup: teamcity
docker image: jetbrains/teamcity-agent
os-type: windows
nameprefix: win-teamcity-agent
instance limit: 1
number of cores: 1
memory (GB): 2

I get a deployment error in azure with the following error message:

**The environment variable na

[2018-04-27 14:29] dtretyakov commented on #96
@ivog, thanks for reporting, it looks like result of recent Azure portal upgrade.

[2018-05-22 07:14] dtretyakov commented on #73
Sorry for delay with supporting this use case. I've added a new wiki page describing possible ways to investigate problems with cloud build agents: https://github.com/JetBrains/teamcity-azure-agent/wiki/Problems-Investigation

To use mentioned ways please [update Azure plugin](https://plugins.jetbrains.com/plugin/9260-azure-resource-manager-cloud-support) to the version 0.8.3+.

@tom-dudley, @tfab

[2018-05-22 09:34] tom-dudley commented on #73
@dtretyakov Thanks for addressing this. One thing I would say is that the permissions to tag a VM may not always align with Teamcity permissions. Would it be possible to add a UI element either on the Agent Cloud tab, or the agent page itself which would perform the tagging/untagging? Perhaps a checkbox with text 'Investigation in progress' or 'Disable auto-shutdown'.

I appreciate if user A has c

[2018-05-22 17:18] tfabris commented on #73
@dtretyakov , thank you so very much! This is excellent news and I'm excited to try it out.

One question: Tags on VMs in Azure are done as Key/Value pairs. When you tag the machine with “teamcity-investigation”, is that the key name, or is it the value? And if it's the key name, what must the value be? Can you clarify that in the Wiki entry?

Thanks!

[2018-05-22 17:36] dtretyakov commented on #73
@tfabris, thanks for pointing it. `teamcity-investigation` is a tag key, you could use it with any value:
https://github.com/JetBrains/teamcity-azure-agent/wiki/Problems-Investigation#software-problems-on-cloud-build-agents

[2018-05-22 17:40] tfabris commented on #73
@dtretyakov, thank you so much for clarifying it and for updating the wiki page!

[2018-05-23 19:44] tfabris commented on #73
@dtretyakov, We upgraded our plugin to version 0.8.3, and I'm trying to follow the instructions on the wiki, but it doesn't seem to be working as documented. After adding the tag "teamcity-investigation" with a value of "True" to the machine in Azure, the machine still gets shut down after 30 minutes of inactivity anyway, despite the tag having been set.

I also don't see any indication on any Tea

[2018-05-24 09:06] tom-dudley commented on #73
@tfabris I believe I'm seeing the same behaviour and have opened a support ticket with Jetbrains for the issue. Out of interest do you see any of following `INFO` lines in your `teamcity-clouds.log` file? (assuming your agent is called `agent`):

[code]

[2018-05-24 17:21] tfabris commented on #73
@tom-dudley, @dtretyakov, thanks so much for your information about the log file. Here is an example of what I'm seeing in my log file. The system correctly logs the fact that the machine is marked by the tag, but then it decides to shut it down anyway. Here is a sample of the relevant log section.

[code]

[2018-05-30 23:44] tfabris commented on #73
@tom-dudley , @dtretyakov , any new word on this?

Does the log snippet that I just posted confirm that there is a bug?

[2018-06-04 11:36] dtretyakov commented on #73
Sorry for delay, I'll investigate the problem, but it from the description it behaves not as expected.

[2018-06-07 15:14] dtretyakov commented on #73
@tom-dudley, @tfabris, in the plugin version 0.8.4 I've tried to fix found problems. Please try upgrading to it: https://plugins.jetbrains.com/plugin/9260-azure-resource-manager-cloud-support

Now build agents marked by `teamcity-investigation` tag will be displayed as Stopped on Agent -> Cloud page.

[2018-06-07 16:52] tfabris commented on #73
@dtretyakov, thank you so much! I will test this as soon as we get a chance to get our plugin upgraded, and report back.

[2018-06-08 01:05] tfabris commented on #73
@dtretyakov, I'm testing this out with the following steps:
- Agent computer is running and is visible/connected in the "Agents" screen.
- I disable the agent in the "Agents" screen.
- I the Azure portal, I put the teamcity-investigation flag on that azure virtual machine of that agent computer.
- I notice that in the Cloud Agents screen, that agent indeed goes to a "stopped" state as you said tha

[2018-06-08 03:44] tfabris commented on #73
@dtretyakov, one other thing to add to the list of unexpected things:

I am unable to assign Team City builds directly to the machine after going through the steps listed above, it says "there are no fully-running cloud agents" when I queue the build.

For example:
- Imagine that I'm having a build problem on one of the cloud agents and I need to investigate it.
- I set the agent to "disabled" in

[2018-06-08 07:46] dtretyakov commented on #73
@tfabris, thank you for such detailed explanation, will try to resolve these corner cases, but it could require some changes in TeamCity cloud core to fully support all of them.

[2018-06-08 17:29] tfabris commented on #73
@dtretyakov , thank you so much. I am successfully using this feature now, and successfully working around the things I listed above.

I have documented the steps for our internal company employees as follows. Feel free to copy any of my language below for the Wiki entry if you like.

- Required version of Team City Azure Cloud Agent Plugin: version 0.8.4+
- In the Team City "Agents" screen, disab

[2018-06-08 20:26] tfabris commented on #73
Correction: A reboot of the agent machine is not required in order to make it disappear from the "Connected" tab and move to the "Unauthorized" tab. It happens on its own after a short while.

[2018-06-22 09:39] dtretyakov opened #97 "Use Instance Metadata service to get MSI credentials"
We need to switch from the localhost metadata service to Instance Metadata:
https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/how-to-use-vm-token

[2018-06-27 02:57] xen2 opened #98 "Changing "Terminate instance idle time" shouldn't recreate new VM"
Changing "Terminate instance idle time" changes the config hash and forces all VM to be recreated.

Could it be removed from the config hash so that VM are kept as is?
(I sometimes end up making it 0 when I want to improve/update VM and take a new snapshot)

[2018-07-10 05:03] eric-winkler commented on #96
This issue has recently caught us out, so we did a bit of investigating. From the debug cloud log file \ ARM template we attributed this error to the following environment variables;
[code]

We reached out to Microsoft for clarity on this behavior, their explanation was:

We add the validation as we find Linux doesn't support '.' in the environment variable, so the ACI uses the common valid charac

[2018-07-16 10:23] tom-dudley opened #99 "Don't continually start and stop VMs if no communication is possible"
I have recently encountered an issue where our agents were unable to communicate with the server even though the server could query the Azure API. The consequence of this is that (with some queued builds) the plugin decides to start some agents which then sit idle for some time (since they can't communicate with the server) and then get turned off. This cycle repeats indefinitely until the network

[2018-07-16 10:48] dtretyakov commented on #99
@tom-dudley, thanks for reporting this use case. I've moved it into feature request for TeamCity cloud core since it could be useful for all cloud integrations: https://youtrack.jetbrains.com/issue/TW-55993

[2018-07-16 10:48] #99 closed

[2018-08-06 10:31] #97 closed

[2018-08-06 10:55] #98 closed

[2018-08-07 07:55] dtretyakov commented on #96
@ivog, @eric-winkler, thanks for reporting, the problem was fixed in the version 0.8.5:
https://plugins.jetbrains.com/plugin/9260-azure-resource-manager-cloud-support

[2018-08-13 17:49] tfabris opened #100 "Core Quota Limit in Azure is not handled gracefully"
## Description

When the Team City Cloud Agent plugin tries to spin up a new agent machine, but Azure responds with an error message because it would exceed the quota limits for Machine Cores in the Azure Subscription, a problem occurs.

Expected:
- Plugin attempts to create a new Agent and receives this error message from Azure: "Operation results in exceeding quota limits of Core. Maximum allowe

[2018-08-20 08:04] kalitad opened #101 "Certificate error"
What URL is plugin trying to contact? From stacktrace it's not possible to investigate what is the issue

This is log from catalina.out

[code]

[2018-08-20 14:51] dtretyakov opened #102 "Automatically select resource group if only one available"
It would be useful while creating cloud images on TeamCity deployed in Azure environment.

[2018-09-03 09:46] NCL-liamkelly commented on #92
I'm experiencing the same problem. Is there any other work arounds / fixes other than what's mentioned above yet?

[2018-09-15 05:41] beaudryj commented on #92
Also in the same boat as @NCL-liamkelly

[2018-09-15 06:10] NCL-liamkelly commented on #92
@beaudryj how are you deploying your agents? We're using puppet so the fix mentioned above is no longer a big deal, we've just added the correct line to the config.

We're considering making the puppet module we've created for TeamCity public at some point too.

[2018-09-15 15:15] beaudryj commented on #92
I’m still trying to figure that out, my image needs Docker For windows
installed and sysprep wipes it out, so possibly just going to do an arm
template with a .ps1 and chocolatey
On Sat, Sep 15, 2018 at 2:10 AM Liam Kelly <notifications@github.com> wrote:

[2018-10-08 17:28] alastairs opened #103 "Support private image registries for ACI agents"
## Description

I'm trying to set up a cloud profile to run my builds on Azure Container Instances. I've created and pushed a Docker image containing the necessary bits I need for my project (.NET Core SDK, PowerShell, NodeJS), and the image is based off `jetbrains/teamcity-agent`. I'm trying to test this out but my project, configured with the PowerShell runner, refuses to start on my cloud profi

[2018-10-09 09:05] dtretyakov commented on #103
@alastairs, thanks for reporting. Could you please start the cloud agent manually from the Agents -> Cloud page, then when it will be connected to the TeamCity server navigate to agents log tab and download the `teamcity-agent.log` file?

Attached section of `teamcity-clouds.log` does not represent any attempts to start a new cloud instance, so please try privately sharing the complete log files i

[2018-10-09 09:09] alastairs commented on #103
Hi @dtretyakov, thanks for the swift response! The “start” button against this cloud profile is disabled. Have I missed a setting?

[2018-10-09 09:37] alastairs commented on #103
Ah, I had a thought: the image is hosted in a private container registry on ACR. There are credentials for this registry in the root project under "Connections", but perhaps these aren't being picked up?

[2018-10-10 11:56] alastairs commented on #103
I've opened a further bug report [TW-57212](https://youtrack.jetbrains.com/issue/TW-57212) with details of the container start-up attempt, using the image on Docker Hub as per the previous comment.

[2018-10-15 10:31] dtretyakov opened #104 "Support filtration of available image types in Azure location"
Currently Azure does not support ACI in all regions, so we could filter available image types depending on selected region, to prevent such kind of errors in after starting cloud instance.

[2018-10-17 11:13] #104 closed

[2018-10-17 13:17] dtretyakov commented on #100
@tfabris, in the latest plugin version was added handling of Azure CPU Quota errors which prevents starting new cloud instances for the image until some active instances has gone.

[2018-10-17 13:17] #100 closed

[2018-10-17 13:17] #101 closed

[2018-11-21 02:31] Servh37 opened #105 "error when trying to stop and start azure vm"
Hi All,

Hoping some my be able to help we are using this plugin to try and start and stop Azure VM but we are getting the below error and we don't know how to fix the issue.

hope someone can help

`[2018-11-20 14:04:06,737]   WARN [6 Flush Queue 1] - e.impl.FlushQueueVirtualAction - Failed to start agent. Instance AAE-BAgnt-PRD02 was not found: jetbrains.buildServer.clouds.server.instances.Faile

[2018-11-21 11:58] dtretyakov commented on #105
@Servh37, could you please ensure that the vm with name `AAE-BAgnt-PRD02` is actually exists in your Azure account and TeamCity displays it under Agents -> Cloud page in the stopped state?

[2018-11-21 15:48] dtretyakov commented on #105
There is the similar problem, looks like regression in cloud image parameters configuration: https://youtrack.jetbrains.com/issue/TW-57928

[2018-11-22 00:05] Servh37 commented on #105
Hi @dtretyakov, yes the VM does exists in Azure it is our current build VM.

that where just try to shut down and start up on demand.

Agents -> Cloud page in the stopped state? Yes it is in the stopped state and when we click on Start it provides that error in the logs.

[2018-11-22 17:09] dtretyakov commented on #105
@Servh37, the problem was addressed in the plugin version 0.8.8: https://plugins.jetbrains.com/plugin/9260-azure-resource-manager-cloud-support
Please try updating and check whether it solves it in your case.

[2018-11-22 17:09] #105 closed

[2018-11-22 21:59] Servh37 commented on #105
Thank you @dtretyakov i will update the plugging and let you know the outcome.

[2018-11-26 00:17] Servh37 commented on #105
Hi @dtretyakov, i can confirm the fixes you have need in version 0.88 has fix the issue.

I have testing this and now working as it should.

[2019-01-07 11:12] dtretyakov opened #107 "File read with sudo was not used as fallback"
With [specific set of file permissions on build agent machine](https://stackoverflow.com/questions/54057576/ansible-azure-give-user-permission-to-read-files-owned-by-root-that-dont-exi) sudo read is not executed on Linux build agents and as result build agent could not fetch configuration parameters.

We could try using sudo read on Linux machines as a fallback in case of empty file contents recei

[2019-01-07 11:12] dtretyakov commented on #107
Relates to https://github.com/JetBrains/teamcity-azure-agent/pull/106

[2019-01-07 11:19] #107 closed

[2019-01-15 11:04] vyruz1986 commented on #103
Any word on a timeline on implementing non-dockerhub registry compatibility in the ACI part of this plugin?
Alternatively, I *think* it should be possible to deploy an image from a custom registry using the ARM template feature of this plugin, but it seems very specifically geared towards creating VM's and nothing else.

[2019-01-21 12:36] dtretyakov opened #108 "Honor HTTP 429 status codes to delay any upcoming requests"
Currently in case of HTTP 429 errors azure plugin will remain polling Azure APIs. We should delay any upcoming requests to specified interval. Typical error message:

[code]

[2019-01-21 12:54] dtretyakov opened #109 "Start/stop instances: List instances in resource group instead of entire subscription"
Currently to check azure instance plugin executes listing in entire subscription instead of pre-defined resource group. It requires granting additional RBAC permissions on Azure subscription.

[2019-02-19 15:53] dtretyakov opened #110 "Make service provider validation message user friendly"
Currently it does not provide solution in case of unregistered resource provider.

[2019-02-25 13:17] #109 closed

[2019-02-25 13:17] #110 closed

[2019-02-25 13:17] #103 closed

[2019-02-25 18:53] IgorRogDevPro opened #111 "Plugin monitors only one agent on a VM / Agent registration issues"
## Description

He have 3 Teamcity agents configured on a single Azure VM added to cloud profile.
The agents register and work normally, but the plugin only tracks status of a single agent. Thus, when this particular agent is idling and the other two are working, Teamcity shuts down the VM interrupting build jobs.

## Environment

* TeamCity version: TeamCity Professional 2018.1.3 (build 58658)
*

[2019-02-25 19:11] dtretyakov commented on #111
@IgorRogDevPro, it's expected behavior. TeamCity cloud integrations are indented to spin-up one build agent per cloud image instance.

The recommended way to setup Azure cloud agents in TeamCity is to use one of the available image types: https://github.com/JetBrains/teamcity-azure-agent/wiki#image-types

[2019-02-26 08:22] IgorRogDevPro commented on #111
@dtretyakov Thanks for a quick response.
All is understood, however I would like to mention our reasoning behind spinning up several agents on one machine so that, maybe, expansion of current functionality is considered.

Why Docker? - 1) It's an easy way to limit access from Teamcity agents to OS files, for examle 2) Easy maintenance and replication of build environments via Docker images 3) Cost

[2019-02-26 10:05] dtretyakov commented on #111
@IgorRogDevPro, it looks like the most affordable solution for price/performance ratio is to create a [managed image](https://github.com/JetBrains/teamcity-azure-agent/wiki/Managed-Image), enable "Reuse allocated virtual machines" and configure appropriate vm size.

[2019-02-28 10:22] IgorRogDevPro commented on #111
@dtretyakov Got it. thanks for the suggestion. I'm closing the issue

[2019-02-28 10:22] #111 closed

[2019-03-20 13:14] afranioce opened #112 "The account being accessed does not support http"
## Description

Is hosted using valid https certificate

## Environment

* TeamCity version: TeamCity Professional 2018.2.3 (build 61544)
* Azure plugin version: 0.8.9

## Diagnostic logs

### teamcity-clouds.log
[code]

### stacktrace
[code]

[2019-03-20 13:33] #112 closed

[2019-03-20 13:42] dtretyakov commented on #112
@afranioce, thanks for reporting. Please update to the latest plugin version: https://plugins.jetbrains.com/plugin/9260-azure-resource-manager-cloud-support

[2019-06-10 18:57] dreschner opened #113 "TeamCity agent image (windows) doesn't work in azure"
## Description

I try to use the teamcity windows agent docker images within azure. Unfortunately, that doesn't work as expected. As you can see in the agent log, some operations to generate the configuration file fails.

I guess that's because there is no storage account attached to the container. But the UI only let my attach a storage account on the linux image (which starts and connects fine).

[2019-06-17 11:29] omerlh opened #114 "Containers - support providing manifest file"
## Description

Azure Container Instance support configuring a container via a manifest file (see an example [here](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-multi-container-yaml)), which let you configure some advanced scenarios like networking on managed identity. Those features can be enabled via the UI, but supporting manifest files is better - new features

[2019-06-17 11:37] dtretyakov commented on #114
@omerlh, right now you could use [a custom Resource Manager template](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-multi-container-group) to create ACI containers. You could take a look at the [template image type](https://github.com/JetBrains/teamcity-azure-agent/wiki/Template-Image) and please let us know if you're missing something in it.

[2019-06-17 11:44] omerlh commented on #114
It's a good workaround - but not exactly what I want: I want different builds to run different images, based on the repository. This is relevant when using Azure MSI - different builds need different permissions etc.

[2019-07-01 13:20] moattarwork opened #115 "The resource manager create the containers instances but doesn't allocate IP to the container"
## Description

Setting up the azure resource manager to create agents, create all of the required infrastructure but as it's in private network in azure, It doesn't allocate IP address properly to the instances of the agent. This is causing issue with the instance to connect to team city server and register itself as agent.

Due to the documentation and if I try to create the container instances

[2019-08-02 13:54] davidmine commented on #113
I'm having similar problems with a windows agent. I'm running windows docker container within a Teamcity server deployed on Azure. The agent starts, but never registers any runners or parameters. I get ![this error](https://user-images.githubusercontent.com/2338943/62374851-db984280-b50a-11e9-82a3-ee649642d84d.jpg), but I don't believe it. If the agent didn't have the server-url properly configure

[2019-08-29 04:33] rocketraman opened #116 "Maming prefix length limit incorrect for Azure Storage"
## Description

My naming prefix defaulted to a long value, and it was too long for Azure Storage. I was getting these logs in `teamcity-cloud.log`:

[code]

Perhaps when the storage is enabled, the max name prefix length needs to be shorter.

## Environment

* TeamCity version: 2019.1.2
* Azure plugin version: 0.9.0

## Diagnostic logs

See above.

[2019-09-09 14:29] dimyriy commented on #116
@rocketraman Issue has been moved to JetBrains YouTrack. Please, follow the issue https://youtrack.jetbrains.com/issue/TW-61940 for updates.

[2019-09-09 14:29] #116 closed

[2019-09-09 14:30] dimyriy commented on #115
@moattarwork Issue has been moved to JetBrains YouTrack. Please, follow the issue https://youtrack.jetbrains.com/issue/TW-61941 for updates.

[2019-09-09 14:30] #115 closed

[2019-09-09 14:30] dimyriy commented on #114
@omerlh Issue has been moved to JetBrains YouTrack. Please, follow the issue https://youtrack.jetbrains.com/issue/TW-61942 for updates.

[2019-09-09 14:30] #114 closed

[2019-09-09 14:30] dimyriy commented on #113
@dreschner Issue has been moved to JetBrains YouTrack. Please, follow the issue https://youtrack.jetbrains.com/issue/TW-61943 for updates.

[2019-09-09 14:30] #113 closed

[2019-09-09 14:30] dimyriy commented on #108
@dtretyakov Issue has been moved to JetBrains YouTrack. Please, follow the issue https://youtrack.jetbrains.com/issue/TW-61944 for updates.

[2019-09-09 14:30] #108 closed

[2019-09-09 14:30] dimyriy commented on #94
@OwenGr Issue has been moved to JetBrains YouTrack. Please, follow the issue https://youtrack.jetbrains.com/issue/TW-61945 for updates.

[2019-09-09 14:30] #94 closed

[2019-09-09 14:31] dimyriy commented on #92
@gambrose Issue has been moved to JetBrains YouTrack. Please, follow the issue https://youtrack.jetbrains.com/issue/TW-61946 for updates.

[2019-09-09 14:31] #92 closed

[2019-09-09 14:31] dimyriy commented on #87
@dtretyakov Issue has been moved to JetBrains YouTrack. Please, follow the issue https://youtrack.jetbrains.com/issue/TW-61947 for updates.

[2019-09-09 14:31] #87 closed

[2019-09-09 14:32] dimyriy commented on #73
@tom-dudley Issue has been moved to JetBrains YouTrack. Please, follow the issue https://youtrack.jetbrains.com/issue/TW-61948 for updates.

[2019-09-09 14:32] #73 closed

[2019-09-09 14:32] dimyriy commented on #71
@gabrielstella Issue has been moved to JetBrains YouTrack. Please, follow the issue https://youtrack.jetbrains.com/issue/TW-61949 for updates.

[2019-09-09 14:32] #71 closed

[2019-09-09 14:32] dimyriy commented on #65
@btdevopsteam Issue has been moved to JetBrains YouTrack. Please, follow the issue https://youtrack.jetbrains.com/issue/TW-61950 for updates.

[2019-09-09 14:32] #65 closed

[2019-09-09 14:32] dimyriy commented on #63
@catalystjs Issue has been moved to JetBrains YouTrack. Please, follow the issue https://youtrack.jetbrains.com/issue/TW-61951 for updates.

[2019-09-09 14:32] #63 closed

[2019-09-09 14:32] dimyriy commented on #43
@danielstocker Issue has been moved to JetBrains YouTrack. Please, follow the issue https://youtrack.jetbrains.com/issue/TW-61952 for updates.

[2019-09-09 14:32] #43 closed

[2019-09-09 14:32] dimyriy commented on #15
@dlwyatt Issue has been moved to JetBrains YouTrack. Please, follow the issue https://youtrack.jetbrains.com/issue/TW-61953 for updates.

[2019-09-09 14:32] #15 closed

[2019-09-09 14:33] dimyriy commented on #10
@nkot Issue has been moved to JetBrains YouTrack. Please, follow the issue https://youtrack.jetbrains.com/issue/TW-61954 for updates.

[2019-09-09 14:33] #10 closed

[2019-10-09 10:40] ajaskier opened #117 "Default vmNamePrefix doesn't pass validation (too long)"
## Description
When adding agent image, the default value of `Name Prefix` field is `teamcity-agent`. That value doesn't pass the validation of that field. Information about failed validation is not displayed unless the field gets modified.

I'm attaching screenshots with dialog window:

(initial state)
![shutter_tc_before](https://user-images.githubusercontent.com/8076184/66474570-db2fa100-ea91-1

[2019-10-23 09:14] dimyriy commented on #117
@ajaskier, Issue has been moved to JetBrains YouTrack. Please, follow the issue https://youtrack.jetbrains.com/issue/TW-62666 for updates.

[2019-10-23 09:14] #117 closed

[2019-12-20 15:40] arackcheev opened #119 "Cannot add Azure image - Save button is disabled"
## Description

We cannot add an image we prepared. Save button is constantly disabled and it's not clear why

![save button](https://user-images.githubusercontent.com/5525999/71265822-20a50000-2358-11ea-88ce-2836ae24a437.png)

## Environment

* TeamCity version: 2019.2 (build 71499)
* Azure plugin version: 0.9.1

## Diagnostic logs

There is nothing relevant in teamcity-clouds.log

[2019-12-25 05:56] arackcheev commented on #119
Just figured it out. We had to change Agent name field. It doesn't show any warning, but as soon as we edit it Save button becomes enabled. Another issue is that if I would enter "teamcity-agent" as a name manually there is a warning that this field could not be longer than 12 chars

[2020-02-12 01:31] tfabris opened #120 "Azure Portal shows a new fourth object for all my agents now, an "SQL Virtual Machine"."
## Description

My Team City agents (all of them are built with the Azure Plugin), when viewed in the Microsoft Azure Portal, now all have corresponding "SQL Virtual Machine" instances which I did not create. These have never been there before, and I'm not sure when they started appearing since it's been a while since I looked in the Azure Portal. In the past, my agent machines were always three o

[2020-02-12 07:45] burnasheva commented on #120
Hi @tfabris.
Could you please create a bug report in [YouTrack](https://youtrack.jetbrains.com/issues/TW) and attach screenshots with your cloud integration settings and teamcity-server.log and teamcity-clouds.log. Please, make all files visible only to the teamcity-developers group.
We need this information because I do not see this problem in my test account, so it isn't something known or commo

[2020-02-14 20:56] tfabris commented on #120
Done, as requested:

[2020-02-14 23:08] tfabris commented on #120
I'm closing the issue here and we can follow it on YouTrack. I think this might be a non-issue.

[2020-02-14 23:08] #120 closed

[2020-05-12 12:18] wooferclaw opened #121 "Plugin does not see started instances on existing VM"
## Description

I create cloud profile and add existing VM as cloud instance.
In this case it cannot connect cloud build agent with this already running instance.
As a result it thinks that buildagent is idle, while defacto it is running builds, so it stops the VM during running build.

## Environment

* TeamCity version: 2019.2.4 build 72059 (latest)
* Azure plugin version: snapshot from 12.03.20

[2020-05-12 14:26] IlyaFomenko commented on #121
Azure plugin matches existing VM via azure.instance.name property.
Please specify it as described [here](https://github.com/JetBrains/teamcity-azure-agent#teamcity-starts-virtual-machine-instance-but-agent-is-unauthorized)

[2020-05-15 10:38] wooferclaw commented on #121
Thanks for the quick response, that helped.
Now everything works as expected.

[2020-05-15 10:38] #121 closed

[2020-06-11 10:29] njefsky opened #122 "Feature Request Startup options"
# Startup parameter
We have now an option:
* Additional terminate conditions
This is very useful and works as accepted.
It should also be useful to add
* Startup conditions
Time in the queue before to start a new instance: [       ] minutes.
(Meaning do not start a new vm if the time in queue is less then this time.)

# Use case:
We use now a pool with 8 VM's starting from an image.
Because we com

[2020-06-11 10:33] njefsky opened #123 "Feature Request Dynamic number of build agents"
You now can set the maximum number of build against you need.
It should be useful to make this dynamic.
Example:
* 08:00-17:00  8
* 17:00-0800   4

We don't care builds are taking longer after office hours.  If we have a limited number of Agents at night we save money.

[2020-06-11 13:19] #123 closed

[2020-06-11 13:22] #122 closed

[2020-06-24 22:52] tfabris opened #124 "Unable to change agent hard disk type, error message about outdated API version"
## Description

Please help if you can. I'm having a problem changing the type of hard disk that our Team City cloud agents use.

I edited the deployment template in the "Edit cloud profile Azure ARM" screen and tried to create a new agent.

The portion of the deployment template that was changed:
Old:
[code]
New:
[code]

When the plugin tries to create this machine in Azure, it recieves the error

[2020-06-24 23:06] tfabris commented on #124
Another software package which ran into the same problem is linked here: https://hi.service-now.com/kb_view.do?sysparm_article=KB0827798 - Their workaround is listed there. Is there a similar workaround available in my situation?

[2020-06-25 00:27] tfabris commented on #124
When I tried changing it to just "Standard_LRS" it gives me a different error when it tries to provision a new machine:

[code]

[2020-10-02 08:51] AChubatova commented on #119
The issue in JetBrains YouTrack https://youtrack.jetbrains.com/issue/TW-62666

[2020-10-07 12:09] AChubatova commented on #124
Hi @tfabris ,

sorry for such a late response, we usually respond quickly to requests posted in TeamCity YouTrack or Zendesk.

As for the error, for me the problem was solved when in the template for the corresponding VM resource I set

"apiVersion": "2018-04-01"

(or above)

[2020-10-07 12:12] #124 closed

[2020-10-07 12:13] #119 closed

[2020-10-24 07:29] AntonDobshikov opened #125 "Error while list service accounts if access to some of them is denied"
## Description
We have Azure Databricks in our subscription and the plugin is unable to list storage accounts
MS Support says that it's designed that Azure Databricks creates dey assignment for its service account and nothing can be done from Azure side here.

## Environment
TeamCity Enterprise 2020.1.5 (build 78938)
Azure Resource Manager Cloud Support SNAPSHOT-20200312092542

## Diagnostic logs

[2020-10-27 04:24] AntonDobshikov commented on #125
https://github.com/JetBrains/teamcity-azure-agent/pull/126

[2021-02-17 16:28] chvjak opened #127 "Can't start Windows based agent in ACI"
## Description

When trying to start a Windows based containerized build agent on Azure Container Instances I'm getting: "image  doesn't support specified OS 'Linux'."

## Environment

* TeamCity version: 2020.2.2 (build 85899)
* Azure plugin version: 0.9.5

## Diagnostic logs

[2021-02-17 13:30:47,667]   INFO [atcher-worker-5] - ouds.azure.arm.AzureCloudImage - Creating new virtual machine tc-age

[2021-02-17 21:39] chvjak commented on #127
Also, should mention that for Image Type "Container" there is no OS Type input visible in most recent plugin version, but there used to be one in older versions and it worked for me.

[2021-02-18 17:18] moattarwork opened #128 "Enabling the extra parameters to be sent to docker run from the interface"
The current implementation allows environment variable to be sent to the underlying engine that runs the docker but there is no way to control the flow of extra arguments such as --privileged or docker volumes (-v which can be done when you need to run the TeamCity agent as DOCKER_IN_DOCKER)

## Environment

* TeamCity version:
* Azure plugin version:

[2021-04-02 20:35] matt-richardson opened #129 "imageId for managed image has capitalized resource group name"
## Description

I'm trying to automate the update of cloud images, using the [code here](https://github.com/OctopusDeploy/TeamCityCloudAgentUpdater).

I've found that when I set the `imageId` to the url of the azure resource (eg `/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/TeamCity-Build-Agents/providers/Microsoft.Compute/images/teamcity-agent-windows-1909-with-docker-v0.0.3

[2021-06-14 11:26] mikeclayton commented on #125
Same issue here with these versions:

* TeamCity Enterprise 2020.2.2 (build 85899)
* Azure Resource Manager Cloud Support 9.6.0

With the "debug-cloud" logging preset enabled we see this in our teamcity.clouds.log:

[code]

The issue seems to be that the plugin enumerates the storage account sin the subscription fine, but then then it tries to invoke the "listKeys" action on each, but it doesn't h

[2021-06-14 11:35] mikeclayton commented on #125
See also https://teamcity-support.jetbrains.com/hc/en-us/community/posts/360010664580-Cloud-profile-creation-issues for another affected user.

[2021-09-22 10:25] mikeclayton opened #132 "Feature Request: support images from Azure Shared Image Galleries"
## Description

Feature Request:

Azure Shared Image Galleries went GA in June 2019, and it seems like a natural extension of the cloud profile functionality to allow them to be used as the source of a cloud profile image in the "Image Type" dropdown:

![image](https://user-images.githubusercontent.com/1193763/134325298-4bcfd3c8-4575-4cde-b32f-d52cc9872177.png)

The configuration fields would need

[2022-02-18 20:48] BC-atJG opened #133 "Container Instance Agent Resource Group mix up fails instance stop"
## Description

I defined an Azure Resource Manager Cloud Profile and configured an Agent Image using the DockerHub image spec'd as (with the other settings not relevant to this issue):
- Deployment: New resource group
- Image Type: Container
- Docker Image: jetbrains/teamcity-agent
- Name Prefix: tc-agent

Within Azure, these resources were created (see attached image, 1-Initial-Resource-Group):

[2022-03-10 14:34] GlatBane opened #134 "Feature Request: Providing parameter json file to deployment"
## Description
I would like to be able to specify a parameters.json file (or equivalent) to be used with ARM templates. As it is right now the only parameter that is required for the template is the vmName controlled by the plugin.

## Use case
I would like to be able to specify a parameter of type SecureString in the ARM template and then using the parameters.json to specify that the value needs

[2022-03-31 21:20] doxxx opened #136 "Can this plugin manage manually created VMs?"
## Description

The documentation says that it's possible for this plugin to manage existing manually created VMs, but I am unable to figure how to do so. I've created the cloud profile but there's no indication that it's managing my already existing agents that are running on Azure VMs. When I try clicking the Add Image button in the cloud profile, I only see options for creating new VMs from ima

[2022-04-05 18:27] BC-atJG opened #137 "Replacing agent VMs leave orphaned data disks"
## Description

I had built an Ubuntu 18 VM which had an attached Data Disk to capture a Managed Image for TeamCity to use.  The NIC and both disks were configured to be deleted when the VM is deleted (not _really_ important here, as that is not captured). Within my Cloud Profile I configured an Agent Image deploying resources to a _Specific resource group_ using the Managed Image, and specified t

[2022-04-05 18:36] BC-atJG opened #138 "Feature Request: Support longer name prefixes"
## Description
When defining an Agent Image the Name Prefix is currently capped at 12 characters.  It would be greatly appreciated if they could be longer to support more descriptive names.

For example, I was wanting to use _ubuntu18-small-_ as a prefix, but needed to use _lin-sm-_ in order to fit.
![Prefix_too_long](https://user-images.githubusercontent.com/91754348/161825813-d16c66cb-30f8-4972-

[2022-05-17 07:14] BenedekFarkas commented on #136
Yes it does! I'm running the same version (0.9.9) - BTW 0.9.10 was released last week. In the `Add Image` dialog, just select `Use existing virtual machine` for `Deployment`.

As for authentication, your service principal needs to be in the `Contributor` role for the subscription.

However, I found that it's really difficult to trigger updating the list of available VMs once you've done that, esse

[2022-05-17 07:17] BenedekFarkas commented on #129
I don't know what's going on there, but I also found that manually created VMs (that are spun up from snapshots I prepared to run TC agents) also capitalize their resource group names, but not always. So it could be independent from TeamCity stuff.

[2022-05-17 13:14] doxxx commented on #136
I don't recall seeing that option, but I'll double-check.

Yes, that is set. These agents are already connected to Teamcity. I just want Teamcity to be able to start/stop them automatically.

[2022-05-17 13:16] doxxx commented on #136
Oh wow, there it is. For some reason, I never checked that dropdown before. The default option of "Use specific resource group" seemed right to me, so I never tried to change it.

Thanks!

[2022-05-17 13:26] #136 closed

[2022-07-15 11:27] IrfanMuhammad1 opened #139 "Feature Request: Add support for access to Shared Image Galleries in other subscriptions"
## Description

Currently, Shared Image Galleries (SIG) are required to be in the same subscription as the Resource Groups where the agents are deployed. This prevents us from sharing a single SIG across multiple Subscriptions. The current workaround is to create a (SIG) for each subscription, and duplicate the vm versions across them. Ofcourse, this is a wasteful approach.

Scenario: We have mult

[2022-08-24 18:24] paul-b-kr opened #140 "Feature Request: Update Azure Resource Manager Cloud Support Plugin to use Microsoft MSAL"
Microsoft is deprecating ADAL and will not be supporting it, and applications that connect to Azure need to use MSAL instead. The Update Azure Resource Manager Cloud Support plugin needs to be updated to use MSAL instead of ADAL.

[2022-09-27 17:31] paul-b-kr commented on #140
Hi, is there any update on when this issue will be addressed? Microsoft will no longer be supporting ADAL after December, 2022. From an enterprise standpoint, this is a serious risk.

Here is the doc on this from Microsoft: https://learn.microsoft.com/en-us/azure/active-directory/develop/msal-migration

[2022-10-13 09:29] megakid opened #141 "Windows Azure CustomData not getting set"
## Description

I am creating a sysprep'd template using Packer on a Windows 2022 Datacenter build.  I am installing the agent during the packer process and then using the standard "Image" approach:

![image](https://user-images.githubusercontent.com/1478003/195543463-d84ade23-0366-4431-9b76-7befe0d2b42b.png)

I can see in the Azure Deployment that custom data is being injected here:

![image](htt

[2022-11-08 09:23] alwaysharsha opened #142 "Support Managed Identity in the Cloud profile"
## Description

Support Managed Identity with Cloud Image configuration, so that we could Managed Identity helps to interact with Azure Vault and other services without exposing credentials.

## Environment

* TeamCity version: 2022.4.1
* Azure plugin version: 0.9.11

## Diagnostic logs

NA